<div class="bankbj">
<div class="container min-width max-width">
  <!--左侧 列表  begin-->
<!--  <div class="container-left box_shadow border_radius">-->
<!--    <ul class="container-left-detail flex">-->
<!--      <li class="flex-center personal-center-title-box">-->
<!--        <router-link :to="{name:'PaymentSet'}" class="flex-center" active-class="selected">-->
<!--          <div class="icon-box icon-payment-set"></div>-->
<!--          <span class="flex-center-text personal-center-title">-->
<!--            收款方式-->
<!--          </span>-->
<!--        </router-link>-->
<!--      </li>-->
<!--       <li class="flex-center personal-center-title-box" style="display:none">-->
<!--        <router-link :to="{name:'PersonBusinessCenter'}" class="flex-center" active-class="selected">-->
<!--          <div class="icon-box icon-recommend"></div>-->
<!--          <span class="flex-center-text personal-center-title" >-->
<!--            商家中心-->
<!--          </span>-->
<!--        </router-link>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
  <!--左侧 列表  end-->

  <!--右侧 路由 begin-->
  <div class="container-right border_radius">
    <router-view></router-view>
  </div>
  <div class="clear"></div>
  <!--右侧 路由 end-->
  


</div>
</div>
