.OrderDetails{
	padding: 30px 0px;
	min-height: 100%;
}
.box1{

}
.order_container{
	width: 1200px;
  background: #FFFFFF;
  border: 1px solid #E7EBEE;
  border-radius: 2px;
	margin: 0 auto;
	/*padding: 30px;*/
	min-height: 400px;
	position: relative;
}
.order_complete.disabled{
	background: rgba(0,0,0,.1);
	border-color: rgba(0,0,0,.1);
	color: #666;
}
.order_title{
  width: 1200px;
	line-height: 60px;
	font-size: 18px;
  background: #F2F6FA;
  border-bottom: 1px solid #E7EBEE;
  border-radius: 2px;
	color: #333333;
	margin-bottom: 10px;
  padding-right: 25px;
  box-sizing: border-box;
}
.imgs{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.imgs img{
  width: 100%;
  margin-bottom: -7px;
  margin-left: 31px;
}
.order_title small {
	line-height: 40px;
	font-size: 14px;
	color: #C43E4E;
}

.go_history:hover{
	color: #C43E4E;
}

.go_history1{
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #172A4D;
  margin-left: 36px;

}

.order_status{
	/*font-size: 16px;*/
  width: 200px;
  /*background-color: RED;*/
	color: #888;
	font-weight: bolder;
}PingFangS

.notice_padding_left{
	padding-left: 70px;
  	line-height: 20px;
}

.cursor {
	cursor: pointer;
}

.order_conduct_title{
	line-height: 70px;
}
.order_conduct_content > div{
	 color: #172A4D !important;
	cursor: pointer;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  /*color: rgba(0,0,0,0.70);*/
  letter-spacing: 0;
}
.order_conduct_title > div{
	color: #888888;
  display: inline-block;
  text-align: center;
}
/*.border_bottom{*/
/*	border-bottom: 1px solid rgba(0,0,0,0.15);*/
/*}*/
.numbers{
  display: inline-block;
  /*width: 20%;*/
	/*padding-left: 72%;*/
  font-family: PingFangSC-Regular;
  font-size: 13px !important;
  color: #6B7DA2;
  float: right;
}
/*.type{*/
/*	width: 15%;*/
/*}*/
.price{
	width: 12.5%;
}
.order_conduct_content > div.buy{
  font-size: 16px;
  color: #172A4D;
  display: inline-block;

}
.order_conduct_content > div.sell{
  font-size: 16px;
  color: #172A4D;;
}
.amount{
	width: 12.5%;
}
.money{
	width: 12.5%;
}
.money input{
	width: auto;
	border: 0;
	min-width: 100px;
}
.status{
	width: 12.5%;
}
.create_time{
	width: 12.5%;
}
.cannel_time{
	width: 12.5%;
}

.nbox{
  display: inline-block;
  width: 1050px;
  height: 1px;
  border: 2px dotted #E7EBEE;
  float: left;
  margin-left: 86px;
  margin-top: -15px;
}

.order_conduct_container{
    position: relative;
    /*z-index: 300;*/
    /*background-color: #F7F9FB;*/
    /*min-height: 400px;*/
    padding: 0% 3%;
}
.copy_btn{
	padding: 2px 5px;
	/*border: 1px solid #C43E4E;*/
	color: #C43E4E;
	margin-left: 10px;
	cursor: pointer;
	font-size: 12px;
  margin-right: -34%;
}

.border_radius_top{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.border_radius_bottom{
  display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.order_detail_container{
	width: 70%;
}
.user_content{
	/* border-bottom: 1px dashed #E6E5E6; */
	margin-bottom: 10px;
}
.user_detail{
	/*margin-top: 10px;*/
	padding-bottom: 10px;
	overflow: hidden;
}
.user_detail > div{
	float: left;
}
.font_color{
	color: #888888;
}

.font_color1{
  color: #172A4D;
}
.seller{
	font-weight: bolder;
	width: auto;
	margin-right: 15px;
}
.name{
	width: 20%;
}
.phone{
	width: 25%;
}
.contact{
	width: 20%;
}
.appeal{
	width: 25%;
}
.appeal span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('./assets/我要申诉.png') center no-repeat;
	background-size: 100%;
	vertical-align: middle;
	margin: -2px 3px 2px 0px;
}
.card_content{

}
.card_list{
	width: 80%;
	margin-top: 10px;
}
.card_detail, .alipay_detail{
	/*width: 45%;*/
  width: 100%;
	float: left;
	margin-right: 5%;
}
.alipay_detail{
	/*margin-left: 5%;*/
}
.card, .alipay{
  padding: 10px 20px;
  margin-top: -11px;
  margin-bottom: 20px;
}
.card{
	/*background: -webkit-linear-gradient(#ffa25a, #ff8f58);
	background: -o-linear-gradient(#ffa25a, #ff8f58);
	background: -moz-linear-gradient(#ffa25a, #ff8f58);
	background: linear-gradient(#ffa25a, #ff8f58);
	box-shadow: 0 3px 10px 3px #ffd3bd;
	-webkit-box-shadow: 0 3px 10px 3px #ffd3bd;*/
}
/*.card.yellow{*/
/*	!*background: url('./assets/bank-label-yellow.png') center no-repeat;*!*/
/*	background: -webkit-linear-gradient(#ffa25a, #ff8f58);*/
/*	background: -o-linear-gradient(#ffa25a, #ff8f58);*/
/*	background: -moz-linear-gradient(#ffa25a, #ff8f58);*/
/*	background: linear-gradient(#ffa25a, #ff8f58);*/
/*	background-size: 100%;*/
/*	box-shadow: 0 3px 10px 3px #ffcab1;*/
/*	-webkit-box-shadow: 0 3px 10px 3px #ffcab1;*/
/*}*/
/*.card.blue{*/
/*	!*background: url('./assets/bank-label-blue.png') center no-repeat;*!*/
/*	background: -webkit-linear-gradient(#0fb4fe, #3385ff);*/
/*	background: -o-linear-gradient(#0fb4fe, #3385ff);*/
/*	background: -moz-linear-gradient(#0fb4fe, #3385ff);*/
/*	background: linear-gradient(#0fb4fe, #3385ff);*/
/*	box-shadow: 0 3px 10px 3px #b4daea;*/
/*	-webkit-box-shadow: 0 3px 10px 3px #b4daea;*/
/*}*/
/*.card.green{*/
/*	!*background: url('./assets/bank-label-green.png') center no-repeat;*!*/
/*	background: -webkit-linear-gradient(#36b0b6, #319b8b);*/
/*	background: -o-linear-gradient(#36b0b6, #319b8b);*/
/*	background: -moz-linear-gradient(#36b0b6, #319b8b);*/
/*	background: linear-gradient(#36b0b6, #319b8b);*/
/*	box-shadow: 0 3px 10px 3px #b8e3dd;*/
/*	-webkit-box-shadow: 0 3px 10px 3px #b8e3dd;*/
/*}*/
/*.alipay{*/
/*	background: -webkit-linear-gradient(#0eacfb, #2e7ffc);*/
/*	background: -o-linear-gradient(#0eacfb, #2e7ffc);*/
/*	background: -moz-linear-gradient(#0eacfb, #2e7ffc);*/
/*	background: linear-gradient(#0eacfb, #2e7ffc);*/
/*	box-shadow: 0 3px 10px 3px #c0e0ed;*/
/*	-webkit-box-shadow: 0 3px 10px 3px #c0e0ed;*/
/*}*/
.card_item{
	line-height: 32px;
  font-size: 16px;
  color: #172A4D;
	text-shadow: none;
	position: relative;
}
.card_item .copy_btn{
	height: 15px;
	line-height: 15px;
	padding: 1px 5px;
	color: #fff;
	border-color: #fff;
	position: absolute;
	right: 0;
	top: 3px;
}
.card_qrcode{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url('./assets/支付宝二维码1.png') no-repeat center;
	background-size: 100%;
	vertical-align: middle;
	margin: 5px 0px 0px 5px;
}
.order_tips{
	/*width: 77%;*/
  display: inline-block;
	padding-top: 10px;
	/*padding-right: 10px;*/
	color: #333;
	overflow: hidden;
}
.no_btc_eth_tips{
  overflow: hidden;
  width: 1200px;
  height: 123px;
  background: #F2F6FA;
  border: 1px solid #E7EBEE;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 0px;
  /*margin-bottom: -25px;*/
  padding: 27px;
  margin-left: -37px;
  color: #172A4D;
}
.order_times{
	float: left;
	margin-top: 10px;
}
.order_times font{
	color: #ED7265;
}
.fontsz{
  font-size: 18px;
}
.clock{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('./assets/时钟.png') center no-repeat;
	background-size: 100%;
	vertical-align: middle;
	margin: -2px 5px 0px 10px;
}
.order_btns{
	float: right;
  margin-top: 15px;
}
.btns{
	border: 0;
	padding: 5px 20px;
	background: none;
	outline: none;
	cursor: pointer;
}
.order_cannel{
	margin-right: 20px;
	border: 1px solid #C43E4E;
	color: #C43E4E;
}
.order_complete{
	border: 1px solid #C43E4E;
	background: #C43E4E;
	color: #fff;
}

/* 支付宝收款码 */
.receipt_code{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,.2);
}
.receipt_code_body{
	position: relative;
	max-width: 350px;
	height: auto;
	margin: 0 auto;
	margin-top: 10%;
}
.receipt_code_bg{

}
.receipt_code_img{
	display: table;
	width: 100%;
	height: 100%;
}
.receipt_code_close{
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: -25px;
	right: 0px;
	text-align: center;
	line-height: 21px;
	font-size: 16px;
	border: 1px solid #333;
	border-radius: 5px;
	color: #666;
	font-weight: 100;
}

/*弹框*/
.bind-bank-footer {
  justify-content: center;
  align-items: center;
  padding: 27px 0 33px 0;
}

.aLiPay-btn {
  width: 100px;
  height: 35px;
}

.aLiPay-btn:first-of-type {
  margin-right: 28px;
}

.aLiPay-commit-btn {
  border: 0;
}
.user_info{
	width: 100%;
	padding: 20px 30px 0px;
}
.user_agree{
	width: 100%;
	padding-left: 20px;
}
.user_notice{
	width: 100%;
	line-height: 40px;
	padding-left: 30px;
  padding-right: 30px;
}
.user_info_item{
	line-height: 40px;
}
.user_info_item_label{
	width: 80px;
	/*text-align: right;*/
}


/* 二级验证 */

.ga_sms_container{}
.ga_sms_body{
	position: fixed;
	width: 450px;
	height: auto;
	z-index: 100;
	left: 50%;
	top: 30%;
	margin-left: -225px;
	padding: 50px;
	border: 1px solid #fafafa;
	background-color: #fff;
	border-radius: 5px;
}
.ga_sms_body_close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	color: #ccc;
	font-size: 20px;
}
.ga_sms_bg{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	background: rgba(0,0,0,.4);
}

/*重置密码container*/
.ResetPsw-container {
  display: block;
  height: auto;
  width: 100%;
  padding: 100px 0;
}

/*placeholder样式*/
.ResetPsw-container input::placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input::-moz-placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 46.875%;
  /*height: 550px;*/
  margin: 0 auto;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

/*--------------- 标题 begin ----------------*/

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 2.0rem;
  /*height: 110px;*/
  color: #7b7b7b;
  padding: 30px 0;
}

/*标题的横线*/
.unit-title-line {
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 30%;
}

/*标题的title*/
.unit-title-text {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

/*--------------- 标题 end ----------------*/

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 30px;
}

/*Input板块*/
.unit-input-container {
  /*width: 87.5%;*/
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.verifying-slider{
  border: none;
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 88%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*------------------ 间隔 begin ------------------*/

.unit-input-interval {
  height: 20px;
  line-height: 20px;
  width: 80%;
  text-align: left;
  /*padding: 5px 0;*/
  padding-left: 12%;
  /*color: red;*/
}

/*------------------ 间隔 end ------------------*/

/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  background-color: #25ced9;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  cursor: pointer;
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 69%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*确定按钮*/
.container-button {
  border: 0;
}

.set-button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  background-color: #25ced6;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 10px;
  border: 0;
  margin-left: 0px;
}

.wrong-msg {
  border: 1px solid red;
}

.pick-one-type {
  border: 0;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

.unit-title{
	padding-top: 0;
}
.card_item_item{
	display: inline-block;
	width: 80%;
	padding-left: 40px;
}
.card_item_p{
	display: inline-block;
	/* width: 10%; */
	/* height: 100%; */
	position: absolute
}

/*验证码发送中*/
.identifying-code-button-close {
  background-color: #cccccc!important;
}
@media screen and (max-width: 768px) {
  .ga_sms_body {
    position: fixed;
    width: 96%;
    height: auto;
    z-index: 9999;
    left: 2%;
    top: 30%;
    margin-left: 0;
    padding: 50px 20px;
    border: 1px solid #fafafa;
    background-color: #fff;
    border-radius: 5px;
  }
}
.iten_color1{
  color: #6B7DA2;
}
.iten_color2{
  font-size: 18px;
  color: #C43E4E;
  padding-left: 6px;
}
.fz{
  font-size: 18px;
}
.btn1{
  width: 1200px;
  margin: auto;
  height: 100px;
  /*background-color: #0babb6;*/
  font-family: PingFangSC-Medium;
  font-size: 13px;
  color: #6B7DA2;
  line-height: 20px;
  margin-top: 20px;
}
.btn2{
  padding-left: 23px;
}

.btn3{
  width: 219px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 80%;
  margin-top: -34px;
  text-align: center;
  background: #C43E4E;
  cursor: pointer;
  border-radius: 2px;
}

.quxiao{
  font-size: 14px;
  color: #C43E4E;
  margin-left: 94%;
  margin-top: 16px;
  cursor: pointer;
  /*margin-top: -34px;*/
}
.shengyu{
  width: 100%;
  font-size: 13px;
  color: #172A4D;
  line-height: 18px;
  margin-top: -41px;
}
.fuzhi{
  display:none;
  display: inline-block;
  /*background: url("img/icon-help.png") no-repeat left center;*/
  height: 32px;
  position: relative;
  width: 12px;
}
.fuzhi:hover{
  /*display:initial;!*当鼠标hover时展示*!*/
  display: inline-block;
  background-color: #6FBF48;
  position: absolute;
  left: 14px;
  top: 5px;
  /*display: none;*/
}

.tip-img {
  display: inline-block;
  /*background: url("img/icon-help.png") no-repeat left center;*/
  height: 32px;
  position: relative;
  width: 12px;
}
.tip-img .prompt-box {
  background-color: #ccc;
  width:120px;
  position: absolute;
  left: 14px;
  top: 5px;
  display: none;
}
.tip-img:hover {
  /*background: url("img/icon-help-hover.png") no-repeat left center;*/
}
.tip-img:hover .prompt-box {
  display: inline-block;
}

.color_4A5{
  color: #6B7DA2;
}

