<div class="OrderComplete">
  <div class="order_conduct ">
    <div class="order_conduct_title border_bottom flex-center">
      <div class="numbers">
        单号
      </div>
      <div class="type">
        类型
      </div>
      <div class="price">
        单价(CNY)
      </div>
      <div class="amount">
        数量(USDT)
      </div>
      <div class="money">
        总金额(CNY)
      </div>
      <div class="status">
        交易状态
      </div>
      <div class="create_time">
        时间
      </div>
      <!-- <div class="cannel_time">
        完成时间
      </div> -->
    </div>
    <div class="order_conduct_tbody">
      <Loading v-if="loading" />
      <div class="order_conduct_content border_bottom flex-center" v-else v-for="(item, i) in list" @click="GO_DETAIL(item.id, item.type)">
        <div class="numbers">
      <!-- {{item.orderId}}-->
          {{item.orderNo}}
        </div>
       <div  class="type" :class="item.sellerId == userId ? 'sell' : 'buy'">
        {{item.sellerId == userId ? '卖出' : '买入'}}
       </div>
        <div class="price" :class="item.sellerId == userId ? 'sell' : 'buy'">
          {{$globalFunc.accFixed(item.price,2)}}
        </div>
        <div class="amount">
          {{$globalFunc.accFixed(item.amount,6)}}
        </div>
<!--        <div class="money" :class="item.type == 'SELL' ? 'sell' : 'buy'">-->
<!--          {{$globalFunc.accFixed(item.amount * item.price,2)}}-->
<!--        </div>-->
        <div class="money" :class="item.sellerId == userId ? 'sell' : 'buy'">
          {{item.totalAmount}}
        </div>
        <!-- DYSTOCIA,//订单难产,剩余量不足
                 ROBFAIL,//订单抢锁失败
                 CREATE, // 订单创建
                 PROCESSING, // 订单进行
                 EXPIRE1, // 超时情况1
                 EXPIRE2, // 超时情况2
                 COMPLETE, // 订单完成
                 CANCEL, // 撤销订单
                 APPEAL, //申诉状态
                 ABNORMAL //订单异常 -->
        <div class="status">
          <span>已完成</span>
        </div>
        <!-- <div class="create_time">
          {{$globalFunc.formatDateUitl(item.createdAt, 'YYYY-MM-DD hh:mm:ss')}}
        </div> -->
        <div class="cannel_time">
          {{!!item.updatedAt ? $globalFunc.formatDateUitl(item.updatedAt, 'YYYY-MM-DD hh:mm:ss') : ''}}
        </div>
      </div>
    </div>
  </div>
  <!-- 分页插件 start  v-if="maxPage > 1" -->
<!--  <BasePageBar v-if="maxPage > 1" :maxPage='maxPage'-->
<!--               :selectIndex="selectIndex"-->
<!--               :clickChangePage="clickChangePage"-->
<!--               :currentDisplay=2-->
<!--               :initDisplay=2></BasePageBar>-->
  <!-- 分页插件 end -->

  <!-- 加载更多 如果loading结束、已经登录、获取的数据超过了limit，则显示 begin -->
<!--  <template v-if="showLoadingMore">-->
<!--    <li class="loading-more">-->
<!--      <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">加载更多</span>-->
<!--      <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>-->
<!--    </li>-->
<!--  </template>-->
</div>
