<div class="background">
  <div class="box">
    <div class="apply-box box_shadow border_radius">
      <div class="apply-box-title">商家认证协议</div>
      <div class="apply-box-list">
        <!-- <div class="apply-box-list-descript">
          本服务协议由您（以下简称“您”）与中秋数字资产交易平台共同订立（以下简称“中秋”）。
        </div> -->
        <div class="apply-box-list-descript">
          我们在此特别提醒您：
        </div>
        <div class="apply-box-list-descript apply-box-list-descript-detail">
          &nbsp;&nbsp; 请确认，币商在开始“申请广告发布资格”前，您已详细阅读了本协议以及本网站上相关法律文件以及规则的所有内容，
          一旦您开始申请流程，即表示您充分理解并同意接受本协议以及本网站上相关法律文件以及交易规则的全部内容。为了
          提高交易的安全性和本平台注册用户身份的可信度，中秋交易所（以下简称本网站）向您提供认证服务。您申请认
          证时，本网站有权采取各种其认为必要的措施对用户身份进行识别，但是，作为普通的网络服务提供商，本网站对用户
          身份识别结果的准确性和绝对真实性不做任何保证。
        </div>
        <!-- <div class="apply-box-list-descript apply-box-list-descript-detail">
                2、数字资产主要由投机者大量使用，零

          </div>
          <div class="apply-box-list-descript apply-box-list-descript-detail">
                3、如果中秋根据其单方判断认为您违反了本
          </div> -->
        <div class="apply-box-list-title">
          <span class="apply-box-list-title-green-title">（一）资产保证金</span>
        </div>
        <div class="apply-box-list-descript">
          1.在承兑商通过平台KYC与反洗钱审查后，本平台将要求广告商在其平台账户中存入一定的保证金，以保障其在平台上的交易安全和顺畅。
        </div>
        <div class="apply-box-list-descript">
          2.保证金具体数额会在本平台上的商家申请中展示。
        </div>
        <div class="apply-box-list-descript">
          3.如出现以下情形时，本平台有权对广告方的保证金进行扣除等处置：
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 广告方在交易过程中发生纠纷，且广告方被判定应承担责任并履行相应义务，而广告方不予配合的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 广告方与本平台上未实名的账号进行交易的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 广告方利用本平台从事任何非法行为的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 广告方违反本协议或本网站上的任何法律文件规定或交易规则的。
        </div>
        <div class="apply-box-list-title">
          <span class="apply-box-list-title-green-title">（二）申请流程</span>
        </div>
        <div class="apply-box-list-descript">
          1.您提交广告方申请材料；
        </div>
        <div class="apply-box-list-descript">
          2.在收到您提交的申请材料之后，本网站将根据这些材料对您进行KYC和反洗钱等合规审查；
        </div>
        <div class="apply-box-list-descript">
          3.您向广告方所属的保证金账户转入约定的保证金，广告方无法对该账户内资金进行交易或划转。
        </div>
        <div class="apply-box-list-title">
          <span class="apply-box-list-title-green-title">（三）申请解除广告发布权限</span>
        </div>
        <div class="apply-box-list-descript">
          1.如广告方需要解除认证的，须向本网站提交解除申请。在收到解除申请后，如本平台确认广告方不涉及任何未决纠纷的，
          或无不良记录等情况的,本网站将于7个工作日内完成认证解除，且将保证金账户内剩余资金划转至您指定的接收账户中。
        </div>
        <div class="apply-box-list-descript">
          2.如果出现下列情形的，本平台有权单方解除您的广告方资格：
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 交易中多次被本平台用户投诉的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 提交的申请材料中存在任何虚假信息的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 交易中出现欺诈等不诚信行为的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 不配合本平台客服处理订单或故意拖延客服处理订单的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 恶意利用本平台规则牟利的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 违反法律法规、本协议、或本网站法律文件或交易规则规定的；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 存在本平台认定的不符合公序良俗、公平交易的行为。
        </div>
        <div class="apply-box-list-title">
          <span class="apply-box-list-title-green-title">（四）关于申请材料的使用</span>
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          &nbsp;&nbsp;&nbsp; 申请资料的管理：您在申请时提交给本网站的认证资料，即不可撤销地授权由本网站保留。
          本网站承诺除法定或约定的事由外，不公开、编辑或透露您的认证资料，且不将保存在本网站的非公开内容用于商业目的，
          但以下情形除外：
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 您授权本网站透露的相关信息；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 本网站向国家司法及行政机关提供；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 本网站向本网站关联企业提供；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 第三方和本网站一起为用户提供服务时，该第三方向您提供服务所需的相关信息（不包括您的银行账户信息）；
        </div>
        <div class="apply-box-list-descript  apply-box-list-descript-detail">
          ● 基于解决您与第三方民事纠纷的需要，本网站有权向该第三方提供您的身份信息。
        </div>
        <div class="apply-box-list-title">
          <span class="apply-box-list-title-green-title">（五）有关免责</span>
        </div>
        <div class="apply-box-list-descript">
          以下情形，本网站不承担任何责任：
        </div>
        <!-- <div class="apply-box-list-descript apply-box-list-descript-detail">
          所有使用本服务的用户
        </div> -->
        <div class="apply-box-list-descript">
          1.由于您将账户密码告知他人或未保管好自己的密码或与他人共享账户或任何其他非本网站的过错，导致您的个人资料泄露的；
        </div>
        <div class="apply-box-list-descript">
          2.任何由于黑客攻击、计算机病毒侵入或发作、电信部门技术调整导致之影响、因政府管制而造成的暂时性关闭、由于第三方原因(包括不可抗力，例如国际出口的主干线路及国际出口电信提供商一方出现故障、火灾、水灾、雷击、地震、洪水、台风、龙卷风、火山爆发、瘟疫和传染病流行、罢工、战争或暴力行为或类似事件等)及其他非因本网站过错而造成的认证信息泄露、丢失、被盗用或被篡改等；
        </div>

        <div class="apply-box-list-descript">
          3.由于与本网站链接的其它网站（如网上银行等）所造成的银行账户信息泄露及由此而导致的任何法律争议和后果；
        </div>

        <div class="apply-box-list-descript">
          4.任何因用户向本网站提供错误、不完整、不实信息等造成不能通过认证或遭受任何其他损失，概与本网站无关；
        </div>
        <div class="apply-box-list-descript">
          5.因非本平台之原因，私自绕开平台线下交易，导致您的资产被他人欺诈的。
        </div>


        <div class="apply-box-list-title">
          <span class="apply-box-list-title-green-title">（六）特别声明</span>
        </div>
        <div class="apply-box-list-descript">
          1.本网站对币商进行的基本资料审查和保证金要求，并不代表币商100%可信，也不代表本网站与币商之间存在任何保证关系。请本网站用户严格按照流程交易，做好对交易方的资料审核，详尽沟通，保证自身的交易和资产安全！同时，基于数字资产交易的特殊性，您需要格外注意反洗钱方面的风险，按照KYC和反洗钱的要求对您交易的相对方的身份进行审查，否则您将可能因交易相对方涉嫌犯罪而面临资产冻结等风险。
        </div>
      </div>
    </div>
  </div>
</div>
