.business_order{

}
.business_order_table{
  position: relative;
	/*z-index: 300;*/
	background-color: #fff;
  font-size: 14px;
	margin-top: 30px;
}
.business_order_table_title{
	line-height: 40px;
	/* border-bottom: 1px solid rgba(0,0,0,0.1); */
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  /*opacity: 0.4;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #6B7DA2;
  letter-spacing: 0;
}
.business_order_table_tbody{
	margin-bottom: 30px;
	position: relative;
	min-height: 150px;
}
.text_grey{
	color: #888;
}
.text_block{
	color: #172A4D;
}
.text_center{
	text-align: center;
}
.order{
	width: 17%;
}
.type{
	width: 10%;
}
.orderstatus{
  width: 14%;
}
.price{
	width: 10%;
}
.amount{
	width: 14%;
}
.money{
	width: 14%;
}
.jyobject{
  width: 14%;
}
.num{
	width: 18%;
}
.complete{
	width: 14%;
}
.create{
	width: 15%;
}
.update{
	width: 13%;
  text-align: right;
}
.pay_type{
	width: 8%;
	line-height: 100%;
}

.payment_icon{
  /*padding-left: 2.6%;*/
}

.icon{
  padding: 0px 5px;
}

.business_order_table_tr{
	line-height: 60px;
	width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
.business_order_table_tr:last-child{
  border-bottom: none;
}
.card_icon{
  display: inline-block;
  width: 22px;
  height: 17px;
  background: url('../../assets/c2c_common/bankcard.png') center center no-repeat;
}
.alipay_cion{
  display: inline-block;
  width: 19px;
  height: 17px;
  background: url('../BusinessCenter/assets/zhifu.png') center center no-repeat;
}
.btn{
	padding: 2px 10px;
	border: none;
	color: #fff;
	outline: none;
	cursor: pointer;
}
.btn_buy{
	background: #39B496;
	-webkit-box-shadow: 0px 2px 5px #a4e2b4;
	box-shadow: 0px 2px 5px #a4e2b4;
}
.btn_sell{
	background: #EF5656;
	-webkit-box-shadow: 0px 2px 5px #eca1a4;
	box-shadow: 0px 2px 5px #eca1a4;
}
