.BusinessCenter {
  margin: 50px auto 0;
  /*padding: 20px 40px 50px;*/
}

.shangjiagd{
  width: 1200px;
  height: 60px;
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #333333;
  letter-spacing: 0;
}

.shangjiagd .sjgd{
  float:left;
}

.shangjiagd .sjchongz{
  float:right;
}


.transaction-header-right-img-box {
  width: 30px;
  height: 30px;

}
.transaction-header-right {
  /*margin-top: 150px;*/
}

.transaction-header-right-img {
  width: 100%;
  height: 100%;
  display: block;
}

.transaction-header-right-currency{
  margin-left: 10px;
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
}

.transaction-header-right-amount-box {
  margin-left: 20px;
}

.transaction-header-right-amount-title {
  opacity: 0.6;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #6B7DA2;
  letter-spacing: 0;
}

.transaction-header-right-amount-num {
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
  margin: 0 10px 0 0;
}

.transaction-header-right-amount-unit {
  opacity: 0.6;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #6B7DA2;
  letter-spacing: 0;
}

.transaction-header-right-btn {
  background: #3576F5;
  border-radius: 1px;
  width: 60px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-left: 42px;
  cursor: pointer;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.business-header{
  /*display: block;*/
  min-height: 200px;
  position: relative;
}

.business-header-buy {
  width: 45%;
  min-height: 200px;
}

.business-header-sell {
  width: 45%;
  min-height: 200px;
}

.business-header-title {
  text-align: center;
  height: 24px;
  line-height: 24px;
  margin-top: 24px;
  font-weight: bold;
  position: relative;
  margin-bottom: 35px;
  padding-left: 15%;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #333333;
  letter-spacing: 0;
}

.business-header-list {
  margin-top: 12px;
  min-height: 260px;
}

.business-header-item {
  height: 40px;
}

.business-header-item.pay_type{
  margin-top: 5px;
}
.business-header-item.margin_top{
  margin-top: 10px;
}
.business-header-item-input.pay_type{
  height: 30px;
  line-height: 30px;
}
.pay_type{
  height: 30px;
  line-height: 30px;
}

.business-header-item-checkbox-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.business-header-item-checkbox-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*margin-right: 10px;*/
  /*cursor: pointer;*/
}

.business-header-item-checkbox-item-text {
  /*margin-left: 5px;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0D0E23;
}
.text_light_dark{
  /*opacity: 0.5;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #000000;
}

.business-header-item-title {
  width: 27%;
  /*opacity: 0.5;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #000000;
  text-align: right;
}

.business-header-item-input {
  width: 70%;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  line-height: 42px;
  position: relative;
  font-size: 14px;
  border-radius: 1px;
  margin-left: 15px;
}

.business-header-item-input-first {
  padding-left: 10px;
}

.business-header-buy .business-header-item-input:focus {
  border: 1px solid #39B496!important;
}

.business-header-select-box {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}
.business-input{
  width: 80%;
  border: 0;
  padding-left: 10px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #0D0E23;
  line-height: 16px;
}
.business-redon {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 15%;
  text-align: center;
  color: #A2B5D9;
  font-size: 14px;
}

.btn{
  width: 100%;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
  font-family: PingFangSC-Medium;
  color: #FFFFFF;
  text-align: center;
  line-height: 16px;
}
.btn_buy{
  background: #39B496;
  border: 1px solid #39B496;
}
.btn_sell{
  background: #EF5656;
  border: 1px solid #EF5656;
}
.fee-rate-item{
  position: relative;

}
.fee-rate-item-content{
  margin-left: 22px;
}
.fee-rate-box{
  margin-top: 15px;
  font-size:13px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#0D0E23;
  line-height:18px;
}
.fee-rate-right{
  color: #3576F5;
}
.fee-rate-img-box{
  height: 11px;
  margin-left: 6px;
  cursor: pointer;
}
.fee-rate-img{
  width: 14px;
}
.fee-tips-box{
  display: none;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 41px;
  width: 70%;
  /*height: 200px;*/
  /*background-color: #6FBF48;*/

  background:#FFFFFF;
  box-shadow:0px 0px 16px 0px rgba(0,0,0,0.1);
  border-radius:1px;

  padding: 20px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#0D0E23;
  line-height:17px;
}
.market_table_body{
  position: relative;
  min-height: 150px;
}

/* 部分市场挂单 start */
.business_market_list{
  position: relative;
  margin-top: 50px;
  min-height: 200px;
}
.market_list_title{
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.market_list_table{
  /*border: 1px solid #E1E0E1;*/
  min-height: 200px;
  padding: 10px 20px;
  font-size: 14px;
}
.border_bottom{
  border-bottom: 1px solid #F8F9F8;
}
.market_table_title{
  line-height: 40px;
}
/*.market_table_title > div{*/
  /*color: #888888;*/
/*}*/

.market_table_title.border_bottom:last-child{
  border-bottom: none !important;
}

.text_right{
  text-align: right;
}
.text_center{
  text-align: center;
}

.type{
  width: 7%;
}
.user{
  width: 10%;
}
.deals{
  width: 15%;
}
.length_time{
  width: 15%;
}
.amount{
  width: 15%;
}
.total{
  width: 15%;
}
.quota{
  width: 15%;
}
.payment{
  width: 10%;
  line-height: 100%;
}
.payment_icon{
  /*padding-left: 2%;*/
  text-align: center;
}
.price{
  width: 10%;
}
.icon{
  padding: 0px 5px;
}
.card_icon{
  display: inline-block;
  width: 22px;
  height: 17px;
  background: url('../../assets/c2c_common/bankcard.png') center center no-repeat;
}
.alipay_cion{
  display: inline-block;
  width: 19px;
  height: 17px;
  background: url('./assets/zhifu.png') center center no-repeat;
}

.business_recharge{
  font-size: 16px;
  /*float: right;*/
  color: #EF5656;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.business_balance{
  float: right;
  font-size: 16px;
  color: #666;
}
.business_balance font{
  color: #EF5656;
}

.busniess_order_list{
  min-height: 300px;
  margin-bottom: 50px;
}

.order_title{
  line-height: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #333333;
  letter-spacing: 0;
}

.order_title_left {

}

.order_title_right {

}
.auth-state-header {
  width: 400px;
  line-height: 60px;
  justify-content: space-between;
}

.auth-state-header img {
  width: 16px;
  float: right;
  margin-top: 22px;
}
.auth-state-article {
  /*padding: 20px;*/
  margin-top: 20px;
}
.auth-state-row {
  justify-content: center;
}
.auth-state-footer {
  padding: 20px;
}
/*Input板块*/
.unit-input-container {
  /*width: 87.5%;*/
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
/*确定按钮*/
.container-button {
  border: 0;
}




.order_title a{
  font-size: 14px;
  color: #EF5656;
  margin-left: 10px;
}

.order_conduct_tabs{
  position: relative;
}
.order_conduct_tab{
    width: 8%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    cursor: pointer;
    z-index: 100;
    /*margin-bottom: 30px;*/
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: #6B7DA2;
  letter-spacing: 0;
}
.order_conduct_tab_active{
  z-index: 200;
    font-weight: bold;
  position: relative;
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: #3576F5;
  letter-spacing: 0;
}

.order_conduct_tab_active .transaction-header-left-item-bottom{
  position: absolute;
  height: 2px;
  width: 44%;
  background: #3576F5;
}
.tab-item-first{
  border-top-left-radius: 6px;
}
.tab-item-last{
  border-top-right-radius: 6px;
}

.order_conduct_container{
    position: relative;
    z-index: 300;
    background-color: #fff;
}

.input_border.buy_border{
  border-color: #39B496 !important;
}
.input_border.sell_border{
  border-color: #EF5656 !important;
}

.submit-buy-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

.submit-buy-box {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
}

.submit-buy-title {
  height: 68px;
  line-height: 68px;
  font-size: 16px;
  text-align: center;
  color: #172A4D;
}

.submit-buy-list {
  padding: 0 90px;
  padding-left: 50px;
}

.submit-buy-item {
  height: 34px;
  display: flex;
  align-items: center;
}

.submit-buy-item-left {
  width: 30%;
  text-align: right;
  font-size: 14px;


}

.submit-buy-item-right {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  font-size: 14px;
  position: relative;
  color: #0D0E23;
}


.submit-buy-item-right-img {
  display: block;
  margin-right: 5px;
}

.margin_right {
  margin-right: 5px;
}

.margin_top{
  margin-top: 14px;
}

.submit-buy-item-right-border {
  border: 1px solid #E0E1F4;

  padding-left: 14px;
}


.text_absolute {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #A2B5D9;
}

.submit-buy-item-right-img-zfb {
  display: block;
  margin-right: 5px;
}

.submit-btn-box {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  align-items: center;
}

.submit-btn {
  width: 120px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.submit-btn-cancel {
  border: 1px solid #39B496;
}

.submit-btn-confirm {
  border: 1px solid #39B496;
  background: #39B496;
}

.submit-sell-cancel {
  border: 1px solid #EF5656;
}

.submit-sell-confirm {
  border: 1px solid #EF5656;
  background: #EF5656;
}
/*Input板块*/
.unit-input-container {
  /*width: 87.5%;*/
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.container-button {
  border: 0;
}
.set-button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  background-color: #25ced6;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 10px;
  border: 0;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .submit-buy-box{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
  }
  .submit-buy-list{
    padding: 0;
  }
  .submit-btn-box{
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .submit-buy-item-right {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    font-size: 14px;
    position: relative;
  }
  .submit-buy-item-left {
    width: 30%;
    margin-right: 5px;
    text-align: right;
    font-size: 14px;
  }
}
