.BusinessApplication{
	/*padding: 50px;*/
  /*padding-top: 100px;*/
}
.bussiness_apply_container{
    width: 520px;
    margin: 0 auto;
    height: 520px;
    position: relative;
}
.bussiness_apply_body{
	/*width: 55%;*/
	width: 100%;
	margin: 50px auto;
}
.text_block{
	color: #333;
}
.text_small{
	color: #666;
}
.text_blue{
	color: #EF5656;
}
.text_grey{
	color: #787878;
}
.bussiness_apply_title{
  opacity: 0.7;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 60px;
}
.huit{
  width: 100%;
  height: 1px;
  background: #E7EBEE;
}
.bussiness_apply_title_small{
  width: 100%;
  line-height: 120px;
  margin-left: 60px;
}
.bussiness_apply_title_small_aa{
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #4C4C4C;
}
.bussiness_apply_title_small_bb{
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #EF5656;
}
.bussiness_apply_title_small2{
  /*opacity: 0.7;*/
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #6B7DA2;
  /*line-height: 60px;*/
  /*margin-left: 60px;*/
}
.bussiness_small3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*opacity: 0.5;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
  /*margin-left: 60px;*/
  /*line-height: 80px;*/
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #EFF0FF;
}
.bussiness_small3 .bussiness_apply_title_small3_aa{
  /*float: left;*/
}
.bussiness_agree_to_pay{
  color: #3576F5;
  cursor: pointer;
}
.bussiness_small3 .bussiness_apply_title_small3_bb{
  /*float: right;*/
  /*margin-right: 120px;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding:10px;
  background-color: #3576F5;
  line-height: 20px;
}

.bussiness_small3 .bussiness_apply_title_small3_bb_certified{
  color: #08D0AC;
  letter-spacing: 0;
  padding:10px;
  /*padding-right: 0;*/
  background-color: #ffffff;
}
.bussiness_small3_agreement_box{
  margin-top: 30px;
  height: auto;
  border: 0;
}
.bussiness_small3_agreement{
  align-items: center;
  line-height: 20px;
}
.serial_number{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #E0E1F4;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: #3576F5;
}

.bussiness_small4{
  width: 520px;
  height: 44px;
  line-height: 44px;
  border-radius: 1px;
  margin: 0 auto;
  text-align: center;
  font-family: PingFangSC-Regular,PingFang SC;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 20px;
  cursor: pointer;
}

.bussiness_apply_rules_item{
	position: relative;
	/*width: 60%;*/
	line-height: 25px;
}
.text_bolder{
	font-weight: 500;
}
.bussiness_apply_pay_type{
	padding-left: 17px;
	margin-top: 5px;
}
.bussiness_apply_pay_type label{
	cursor: pointer;
}
.bussiness_apply_pay_type font{
	margin: 0 10px;
}
.bussiness_apply_agree{
	margin-top: 10px;
	cursor: pointer;
}

.bussiness_apply_submit{
	/*width: 70%;*/
	text-align: center;
	margin-top: 30px;
}
.btn{
	width: 80%;
	border: none;
	background: #EF5656;
	color: #fff;
	padding: 7px 0px;
	font-size: 15px;
	letter-spacing: 1px;
}
.btn.disabled {
	background: #acdce8;
	cursor: inherit;
}

.tips{
	position: absolute;
	color: #dedede;
	left: 70%;
}
.tips_filter{
	margin: 0 5px;
}

.check_radio{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../../assets/c2c_common/noselect.png') center center no-repeat;
	background-size: 100%;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 2px;
}
.check_radio.selected {
	background: url('../../assets/c2c_common/select.png') center center no-repeat;
	background-size: 100%;
}
.input_radio{
	display: none;
}

.bdiphone{
  cursor: pointer;
  color: #ffffff;
}
