

<div class="TransactionBuy">

 <div class="usdtprice" >
    <div class="usdtprice2">
        <span class="usdtpriceaaa1">一键买币</span>
        <!-- <span class="usdtpriceaaa2"> 7.02 CNY/USDT</span> -->
        <span class="usdtpriceaaa3">小额快速交易，0手续费</span>
      </div>
    <div>

   <div class="buymoney02">
     <el-select v-model="value" placeholder="请选择" class="buymoney03">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
     <!-- <div class="buytt">购买金额</div> -->
     <div class="buywrite" v-if="value=='选项1'">
       <div class="buywrite01">
         <input class="inputbuyje" placeholder="请输入购买金额"  @input="abindInputCNY" v-model="inputCNY" type="text" />
         <!-- <input class="buy-toast-item-input border_radius text_green strong" @input="bindInputCNY" v-model="inputCNY" type="text"> -->
       </div>
       <div class="buywrite02">
         CNY
       </div>
     </div>
     <div class="buywrite" v-if="value=='选项2'">
        <div class="buywrite01">
          <!-- <input class="buy-toast-item-input border_radius strong" @input="bindInputNum" v-model="inputNum" type="text"> -->
          <input class="inputbuyje"  placeholder="请输入购买数量" @input="abindInputNum" v-model="inputNum" type="text"/>
        </div>
        <div class="buywrite02">
          USDT
        </div>
   </div>

   </div>
   <button class="buutton" @click="aKeyToBuy(); clickToConfirmBuy()">
     <img class="imgs" src="../../assets/c2c_form_icon/bolt.png" alt="">
    购买USDT
   </button>
  </div>
   <!-- <div class="buutton">
       购买USDT
   </div> -->
 </div>


<!--  一键卖币-->
<!--  <div class="usdtprice" >-->
<!--    <div class="usdtprice2">-->
<!--      <span class="usdtpriceaaa1">一键卖币</span>-->
<!--      &lt;!&ndash; <span class="usdtpriceaaa2"> 7.02 CNY/USDT</span> &ndash;&gt;-->
<!--      <span class="usdtpriceaaa3">小额快速交易，0手续费</span>-->
<!--    </div>-->
<!--    <div>-->

<!--      <div class="buymoney02">-->
<!--        <el-select v-model="value" placeholder="请选择" class="buymoney03">-->
<!--          <el-option-->
<!--            v-for="item in options"-->
<!--            :key="item.value"-->
<!--            :label="item.label"-->
<!--            :value="item.value">-->
<!--          </el-option>-->
<!--        </el-select>-->
<!--        &lt;!&ndash; <div class="buytt">购买金额</div> &ndash;&gt;-->
<!--        <div class="buywrite" v-if="value=='选项1'">-->
<!--          <div class="buywrite01">-->
<!--            <input class="inputbuyje" placeholder="请输入出售金额"  @input="abindInputCNY" v-model="inputCNY" type="text" />-->
<!--            &lt;!&ndash; <input class="buy-toast-item-input border_radius text_green strong" @input="bindInputCNY" v-model="inputCNY" type="text"> &ndash;&gt;-->
<!--          </div>-->
<!--          <div class="buywrite02">-->
<!--            CNY-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="buywrite" v-if="value=='选项2'">-->
<!--          <div class="buywrite01">-->
<!--            &lt;!&ndash; <input class="buy-toast-item-input border_radius strong" @input="bindInputNum" v-model="inputNum" type="text"> &ndash;&gt;-->
<!--            <input class="inputbuyje"  placeholder="请输入出售数量" @input="abindInputNum" v-model="inputNum" type="text"/>-->
<!--          </div>-->
<!--          <div class="buywrite02">-->
<!--            USDT-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <button class="buutton" @click="aKeyToBuy(); clickToConfirmBuy()">-->
<!--        <img class="imgs" src="../../assets/c2c_form_icon/bolt.png" alt="">-->
<!--        出售USDT-->
<!--      </button>-->
<!--    </div>-->
<!--    &lt;!&ndash; <div class="buutton">-->
<!--        购买USDT-->
<!--    </div> &ndash;&gt;-->
<!--  </div>-->


 <div class="shichanggd">市场挂单</div>
  <div class="business_order">
    <div class="business_order_table">
      <!-- table 头 start -->
      <div class="business_order_table_title flex-center  flex-between text_grey">
        <div class="ordertitle">商家</div>
        <div class="type" >成交单数</div>
        <div class="price">成交率</div>
        <div class="unit">单价(CNY)</div>
        <div class="amount">数量(USDT)</div>
<!--        <div class="money">金额(CNY)</div>-->
        <div class="num">限额(CNY)</div>
        <div class="pay_type ">支付方式</div>
        <div class="option">交易</div>
      </div>
      <!-- table 头 end -->
      <div v-if="loading" class="pending-body-no-pending-box">
        <Loading />
      </div>

      <!-- table tbody start -->
      <div v-if="pendingList.length != 0 && !loading" class="business_order_table_tbody text_block">
        <Loading v-if="loading" />

        <div class="business_order_table_tr flex-center flex-between" v-else v-for="(item,index) in pendingList" :key="index">
          <div class="order text_dark14 flex-row">
            <div style="height:70px;position: relative">
<!--              <div :class="'yansebj'+Math.round(Math.random()*3)">{{item.nickName.substring(0,1)}}</div>-->
              <div style="width: 52px;position: absolute;bottom: -1px;background: #fff;height: 1px;"></div>
            </div>
            <div>
              {{item.nickname}}
            </div>
          </div>
          <div class="type text_dark14">{{item.cmpOrder}}</div>
<!--          <div class="price text_dark14">{{toFixed(accMul(item.rate,100),2)}}%</div>-->
          <div class="price text_dark14">{{toFixed((item.succOrder / item.cmpOrder),2)}}%</div>
          <div class="unit text_green14">{{toFixed(item.fixedPrice,2)}}</div>
          <div class="amount text_dark14">{{toFixed(item.visiableVolume,4)}}</div>
<!--          <div class="money">{{toFixed(accMul(item.amount,item.price),2)}}</div>-->
<!--          <div class="num text_dark14">{{toFixed(accMul(item.minLimit,item.price),2)}} - {{toFixed(accMul(item.amount,item.price),2)}}</div>-->
          <div class="num text_dark14">{{toFixed((item.minAmount * item.fixedPrice),2)}} - {{toFixed((item.maxAmount * item.fixedPrice),2)}}</div>
          <div class="pay_type text_dark14" v-if="(item.payMethod) == '1'">
<!--            <span v-if="item.payMethod === 'BANKCARD' || item.payMethod === 'ALIPAY|BANKCARD' || item.payMethod === 'BANKCARD|ALIPAY'" class="icon card_icon"></span>-->
<!--            <span v-if="item.payMethod === 'ALIPAY' || item.payMethod === 'ALIPAY|BANKCARD' || item.payMethod === 'BANKCARD|ALIPAY'" class="icon alipay_cion"></span>-->
              银行卡
          </div>


          <div class="option">
            <button class="btn btn_buy btn-can" @click="clickToBuy(item)">
              购买USDT
            </button>
          </div>
        </div>

      </div>
      <div v-if="pendingList.length === 0 && !loading" class="pending-body-no-pending-box">
        <img class="pending-body-no-pending-img" src="../../assets/c2c_transaction/no_pending_notice_img.png" alt="">
        <div class="pending-body-no-pending-text">暂无挂单</div>
      </div>
      <!-- table tbody end -->
    </div>
    <!-- 分页插件 start  v-if="maxPage > 1" -->
    <BasePageBar v-if="maxPage > 1 && pendingList.length != 0" :maxPage='maxPage'
                 :selectIndex="selectIndex"
                 :clickChangePage="clickChangePage"
                 :currentDisplay=2
                 :initDisplay=2></BasePageBar>
    <!-- 分页插件 end -->


    <!--首次进入此页 弹框提示 begin-->
    <BasePopupWindow :open="popWindowOpen" :close="popWindowGoAhead">
      <div slot="header" class="pop-header">
        {{popWindowTitle}}
      </div>
      <div slot="article" class="pop-article" :class="popWindowContentAllCenter?'pop-article-all-center':''">
        <div class="pop-article-text text_light_dark" :class="popWindowContentAllCenter?'pop-article-text-all-center':''">
          <div v-for="(item,index) in popWindowContent" :key="index"  class="pop-article-text-detail"
               :class="popWindowContentCenter?'pop-article-text-detail-center':''">{{item}}</div>
        </div>
        <div class="pop-btn-container flex ">
<!--           按钮-->
          <button class="pop-btn btn btn_blue" style="" @click="clickToastBtn">
            {{popWindowBtnText}}
          </button>
<!--          下次再说按钮-->
          <button class="pop-btn btn btn-cancel" @click="popWindowCloseForBindMobile">
            {{popWindowOpen? '下次再说':''}}
          </button>
        </div>
      </div>
    </BasePopupWindow>
    <!--首次进入此页 弹窗提示 end-->
<!--sss屏蔽S-->
    <!--买入USDT初次弹框 start-->
<!--    <div v-if="buyToastOpen" class="buy-toast-box">-->
<!--      <div class="buy-toast-window">-->
<!--        <img src="../../assets/c2c_common/popup_close_btn.png" alt="" class="buy-toast-box-close" @click="closeBuyBox">-->
<!--        <div class="buy-toast-title">买入USDT</div>-->
<!--        <div class="buy-toast-list">-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">商家：</div>-->
<!--            <div class="buy-toast-item-first-content strong text_dark">{{buyItem.name}}</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">类型：</div>-->
<!--            <div class="buy-toast-item-first-content text_green strong">买入</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">价格：</div>-->
<!--            <div class="buy-toast-item-first-content text_green strong">{{buyItem.price}} CNY</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">数量：</div>-->
<!--            <div class="buy-toast-item-input-box input_border border_radius">-->
<!--              <input class="buy-toast-item-input border_radius strong" @input="bindInputNum" v-model="inputNum" type="text">-->
<!--              <div class="buy-toast-item-input-currency text_grey_8">USDT</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item buy-toast-item-margin-top">-->
<!--            <div class="buy-toast-item-title text_grey_8">金额：</div>-->
<!--            <div class="buy-toast-item-input-box input_border border_radius">-->
<!--              <input class="buy-toast-item-input border_radius text_green strong" @input="bindInputCNY" v-model="inputCNY" type="text">-->
<!--              <div class="buy-toast-item-input-currency text_grey_8">CNY</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">限额：</div>-->
<!--            <div class="buy-toast-item-first-content text_dark strong">{{buyItem.minLimit}}~{{buyItem.maxLimit}} USDT</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item buy-toast-item-special">-->
<!--            <div class="buy-toast-item-title text_grey_8">支付方式：</div>-->
<!--            <div class="buy-toast-item-pay-mode">-->
<!--              <div class="buy-toast-item-pay-mode-line">-->
<!--                <div v-if="buyItem.payMethod === 'ALIPAY' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'"  class="buy-toast-item-first-content-bank-item text_dark strong">-->
<!--                  支付宝-->
<!--                </div>-->
<!--                <div v-if="buyItem.payMethod === 'BANKCARD' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'" class="buy-toast-item-first-content-bank-item text_dark strong">-->
<!--                  银行转账 <span style="color: #EF5656">(需本人账户支付)</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; <div class="buy-toast-item-pay-mode-info text_blue">(需本人账户支付)</div> &ndash;&gt;-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="buy-toast-btn-box">-->
<!--          <button class="buy-toast-btn btn btn_base btn_white_green text_green" @click="closeBuyBox">取消</button>-->
<!--          <button class="buy-toast-btn btn btn_base btn_green" @click="clickToConfirmBuy">买入</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!--sss屏蔽E-->

    <!--买入USDT初次弹框 start-->
    <div v-if="buyToastOpen" class="buy-toast-box">
      <div class="buy-toast-window">

        <div class="buy-toast-title">
          买入USDT
          <img src="../../assets/PopupWindowCancelled.png" alt="" class="buy-toast-box-close" @click="closeBuyBox">
        </div>
        <div class="buy-toast-list">
          <div class="buy-toa buy-mar-bom flex">
            <div class="buy-toast-item1">
              <div class="buy-toast-item-title text_grey_12">商家</div>
              <div class="buy-toast-item-first-content text_dark">{{buyItem.nickname}}</div>
            </div>
            <div class="buy-toast-item1 tac">
              <div class="buy-toast-item-title text_grey_12">类型</div>
              <div class="buy-toast-item-first-content text_green">买入</div>
            </div>
            <div class="buy-toast-item2">
              <div class="buy-toast-item-title text_grey_12">价格</div>
              <div class="buy-toast-item-first-content text_green">{{buyItem.fixedPrice}} CNY</div>
            </div>
         </div>
          <div class="buy-toast-item mbt">
<!--            <div class="buy-toast-item-title text_grey_8">数量</div>-->

            <div class="buy-toast-item-input-box input_border border_radius">
              <input class="buy-toast-item-input border_radius" placeholder="输入金额" @input="bindInputCNY" v-model="inputCNY" type="text">
              <div class="buy-toast-item-input-currency text_grey_10">CNY</div>
            </div>

            <div class="buy-toast-item-input-boxOtc">
              <img class="buy-toastImg" src="../../assets/OSwitch.png" alt="">
            </div>
            <div class="buy-toast-item-input-box input_border border_radius">
              <input class="buy-toast-item-input border_radius" placeholder="输入数量" @input="bindInputNum" v-model="inputNum" type="text">
              <div class="buy-toast-item-input-currency text_grey_10">USDT</div>
            </div>

          </div>
<!--          <div class="buy-toast-item buy-toast-item-margin-top">-->
<!--            <div class="buy-toast-item-title text_grey_8">金额</div>-->

<!--          </div>-->
          <div class="buy-toast-item header-fs">
            <span class="buy-toast-item-title text_grey_9">限额
              <span class="buy-toast-items">{{toFixed((buyItem.minAmount * buyItem.fixedPrice),2)}}~{{toFixed((buyItem.maxAmount * buyItem.fixedPrice),2)}} CNY</span></span>

          </div>

        </div>
        <div class="buy-toast-item buy-toast-item-specials">
            <span class="buy-toast-item-title text_grey_9">支付方式
              <sapn class="buy-toast-item-pay-mode">
                <div class="buy-toast-item-pay-mode-line"> <img class="PopupImg" src="../../assets/Popup_icon@2x.png" alt="">
<!--                  <div v-if="buyItem.payMethod === 'ALIPAY' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'"  class="buy-toast-item-first-content-bank-item text_dark strong">-->
                  <!--                    支付宝-->
                  <!--                  </div>-->
                  <!--                  <div v-if="buyItem.payMethod === 'BANKCARD' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'" class="buy-toast-item-first-content-bank-item text_dark strong">-->
                  <!--                    银行转账 <span style="color: #EF5656">(需本人账户支付)</span>-->
                  <!--                  </div>-->
                  <span v-if="(buyItem.payMethod) == '1'" class="buy-toast-item-first-content-bank-item text_dark strong">
                    银行卡
                  </span>

                </div>
                <!-- <div class="buy-toast-item-pay-mode-info text_blue">(需本人账户支付)</div> -->
              </sapn></span>


        </div>
        <div class="buy-toast-btn-boxsb">
          <span class="btns btnOtc margin-leftO" @click="closeBuyBox">取消</span>
          <span class="btns backC" @click="clickToConfirmBuy">买入</span>
        </div>
      </div>
    </div>
    <!--买入USDT初次弹框 end-->


    <!--sss屏蔽S-->
    <!--买入USDT确认弹框 start-->
<!--    <div v-if="buyCommitToastOpen" class="buy-toast-box">-->
<!--      <div class="buy-toast-window">-->
<!--        <img src="../../assets/c2c_common/popup_close_btn.png" alt="" class="buy-toast-box-close" @click="closeBuyComfirmBox">-->
<!--        <div class="buy-toast-title">确定买入</div>-->
<!--        <div class="buy-toast-list">-->
<!--          <div class="buy-toast-item" v-if='!aKeyUserName'>-->
<!--            <div class="buy-toast-item-title text_grey_8">商家：</div>-->
<!--            <div class="buy-toast-item-first-content strong text_dark"> {{pay_info.username}},</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item" v-if='!aKeyUserName'>-->
<!--            <div class="buy-toast-item-title text_grey_8">单号：</div>-->
<!--            <div class="buy-toast-item-first-content text_dark strong">{{buyItem.id}}</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">类型：</div>-->
<!--            <div class="buy-toast-item-first-content text_green strong">买入</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">单价：</div>-->
<!--            <div class="buy-toast-item-first-content text_green strong">{{buyItem.price}} CNY</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">数量：</div>-->
<!--            <div class="buy-toast-item-first-content text_dark strong">{{inputNum}}</div>-->
<!--            <div class="buy-toast-item-unit text_grey_8">USDT</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item">-->
<!--            <div class="buy-toast-item-title text_grey_8">实付款：</div>-->
<!--            <div class="buy-toast-item-first-content text_green strong">{{inputCNY}} CNY</div>-->
<!--            <div class="buy-toast-item-unit text_grey_8">（以实际订单为准）</div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item buy-toast-item-special">-->
<!--            <div class="buy-toast-item-title text_grey_8">支付方式：</div>-->
<!--            <div class="buy-toast-item-pay-mode">-->
<!--              <div class="buy-toast-item-pay-mode-line">-->
<!--                <div v-if="buyItem.payMethod === 'ALIPAY' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'" class="buy-toast-item-first-content-bank-item text_dark strong">-->
<!--                  支付宝-->
<!--                </div>-->
<!--                <div v-if="buyItem.payMethod === 'BANKCARD' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'" class="buy-toast-item-first-content-bank-item text_dark strong">-->
<!--                  银行转账 <span style="color: #EF5656">(需本人账户支付)</span>-->
<!--                </div>-->
<!--                <div v-if="buyItem.payType === 'ALIPAY' || buyItem.payType === 'ALIPAY|BANKCARD' || buyItem.payType === 'BANKCARD|ALIPAY'" class="buy-toast-item-first-content-bank-item text_dark strong">-->
<!--                  支付宝-->
<!--                </div>-->
<!--                <div v-if="buyItem.payType === 'BANKCARD' || buyItem.payType === 'ALIPAY|BANKCARD' || buyItem.payType === 'BANKCARD|ALIPAY'" class="buy-toast-item-first-content-bank-item text_dark strong">-->
<!--                  银行转账 <span style="color: #EF5656">(需本人账户支付)</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; <div class="buy-toast-item-pay-mode-info text_blue">(需本人账户支付)</div> &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="buy-toast-item" v-if='!!pay_info'>-->
<!--              <div class="buy-toast-item-title text_grey_8">对方银行卡：</div>-->
<!--              <div class="buy-toast-item-first-content text_dark strong">-->

<!--                {{pay_info.bankName}},-->
<!--                {{pay_info.cardNumber}},-->
<!--              </div>-->
<!--              &lt;!&ndash; <div class="buy-toast-item-unit text_grey_8">USDT</div> &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div  class="buy-toast-item" v-if='!!pay_info'>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="buy-toast-item-first-content-i text_dark strong"> {{pay_info.bankAddr}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="buy-toast-btn-box">-->
<!--          <button class="buy-toast-btn btn btn_base btn_white_green text_green" @click="closeBuyComfirmBox">取消</button>-->
<!--          <button class="buy-toast-btn btn btn_base btn_green" @click="clickConfirmBtn">{{submitBtnAjaxFlag===false?'确定下单':'下单中'}}</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!--sss屏蔽E-->

    <!--买入USDT确认弹框 start-->
    <div v-if="buyCommitToastOpen" class="buy-toast-box">
      <div class="buy-toast-window">

        <div class="buy-toast-title">
          确定买入
          <img src="../../assets/PopupWindowCancelled.png" alt="" class="buy-toast-box-close" @click="closeBuyBox">
        </div>
        <div class="buy-toast-list">
          <div class="buy-toa buy-mar-bom10 flex">
            <div class="buy-toast-item1">
              <div class="buy-toast-item-title text_grey_12" v-if='!aKeyUserName'>商家</div>
<!--              <div class="buy-toast-item-first-content strong text_dark">{{pay_info.username}}</div>-->
              <div class="buy-toast-item-first-content strong text_dark">{{buyItem.nickname}}</div>
            </div>
            <div class="buy-toast-item1 tac">
              <div class="buy-toast-item-title text_grey_9">类型</div>
              <div class="buy-toast-item-first-content text_green strong">买入</div>
            </div>
            <div class="buy-toast-item2">
              <div class="buy-toast-item-title text_grey_9">价格</div>
              <div class="buy-toast-item-first-content text_green strong">{{buyItem.price}} CNY</div>
            </div>
          </div>

        </div>

<!--        <div class=" buy-toast-item-specialsOtc" v-if='!aKeyUserName'>-->
<!--            <span class="header-fs text_grey_9">单号-->
<!--              <span class="buy-toast-items">{{buyItem.id}}</span>-->
<!--            </span>-->
<!--        </div>-->
        <div class=" buy-toast-item-specialsOtc">
          <span class="header-fs text_grey_9">数量</span>
          <span class="buy-toast-items">{{inputNum}}</span>
<!--          <span class="buy-toast-items">USDT</span>-->
        </div>
        <div class=" buy-toast-item-specialsOtc">
          <span class="header-fs text_grey_9">实付款（以实际订单为准）</span>
          <span class="otc-color">{{inputCNY}} CNY</span>
<!--          <span class="buy-toast-items">（以实际订单为准）</span>-->
        </div>

        <div class="buy-toast-item buy-toast-item-specials otc-bor-top">
        <span class="buy-toast-item-title text_grey_9">支付方式</span>
        <span class="header-fs text_grey_9">
          <span class="buy-toast-items"><img class="PopupImg" src="../../assets/Popup_icon@2x.png" alt="">银行卡
            <span v-if="buyItem.payMethod === 'ALIPAY' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'" class="buy-toast-items">
              支付宝
            </span>
            <span v-if="buyItem.payMethod === 'BANKCARD' || buyItem.payMethod === 'ALIPAY|BANKCARD' || buyItem.payMethod === 'BANKCARD|ALIPAY'" class="buy-toast-itemsg">
              银行转账 <span style="color: #EF5656">(需本人账户支付)</span>
            </span>
            <span v-if="buyItem.payType === 'ALIPAY' || buyItem.payType === 'ALIPAY|BANKCARD' || buyItem.payType === 'BANKCARD|ALIPAY'" class="buy-toast-items">
              支付宝
            </span>
            <span v-if="buyItem.payType === 'BANKCARD' || buyItem.payType === 'ALIPAY|BANKCARD' || buyItem.payType === 'BANKCARD|ALIPAY'" class="buy-toast-items">
              银行转账 <span style="color: #EF5656">(需本人账户支付)</span>
            </span>
          </span>
          <!-- <div class="buy-toast-item-pay-mode-info text_blue">(需本人账户支付)</div> -->
        </span>
      </div>

        <div class="buy-toast-btn-boxsb">
          <span class="btns btnOtc margin-leftO" @click="closeBuyComfirmBox">取消</span>
          <span class="btns backC" @click="clickConfirmBtn">{{submitBtnAjaxFlag===false?'确定下单':'下单中'}}</span>
        </div>

      </div>
    </div>
    <!--买入USDT确认弹框 end-->


    <!-- 谷歌/短信验证 start -->
<!--    <div class="ga_sms_container box_shadow" v-if="verificationToastOpen">-->
<!--      <div class="ga_sms_bg"></div>-->
<!--      <div class="ga_sms_body">-->
<!--        <img src="../../assets/c2c_common/popup_close_btn.png" alt="" class="buy-toast-box-close">-->
<!--        &lt;!&ndash;选择&ndash;&gt;-->
<!--        <div class="flex unit-input-container pick-one-type" v-if="showPicker">-->
<!--          <div>-->
<!--            <input type="radio" name="identify-type" id="ga" value="bindGA" v-model="picked">-->
<!--            <label for="ga">谷歌认证</label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <input type="radio" name="identify-type" id="bindMobile" value="bindMobile" v-model="picked">-->
<!--            <label for="bindMobile">手机认证</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;<div class="unit-input-interval"></div>&ndash;&gt;-->

<!--        &lt;!&ndash;谷歌验证码&ndash;&gt;-->
<!--        <div class="flex unit-input-container container-ga" v-if="picked==='bindGA'"-->
<!--             :class="{'wrong-msg':GACodeWA!==''}"-->
<!--        >-->
<!--		    <span class="flex-center unit-input-container-title">-->
<!--		      <img src="../../assets/c2c_form_icon/google.png" alt="">-->
<!--		    </span>-->
<!--          <input type="text" placeholder='请输入谷歌验证码' class="unit-input input-ga"-->
<!--                 v-model="GACode"-->
<!--                 @blur="testGACode"-->
<!--          >-->
<!--        </div>-->
<!--        <div class="unit-input-interval txt-red" v-if="picked==='bindGA'">-->
<!--          <span v-if="GACodeWA!==''">{{GACodeWA}}</span>-->
<!--        </div>-->

<!--        &lt;!&ndash;手机验证码&ndash;&gt;-->
<!--        <div class="flex unit-input-container double-input-container" v-if="picked==='bindMobile'"-->
<!--             :class="{'wrong-msg':verificationCodeWA!==''}"-->
<!--        >-->
<!--		    <span class="flex-center unit-input-container-title">-->
<!--		      <img src="../../assets/c2c_form_icon/mobile.png" alt="">-->
<!--		    </span>-->
<!--          <input type="text" placeholder='请输入手机验证码'-->
<!--                 class="unit-input input-mobile" v-model="verificationCode"-->
<!--                 @blur="testVerificationCode"-->
<!--          >-->
<!--          <span class="flex-center btn_blue" v-if="!getVerificationCode"-->
<!--                @click="click_getVerificationCode"-->
<!--          >{{$t("signPageResetPassword.achieve")}}</span>-->
<!--          <span class="flex-center identifying-code-button-close btn_grey"-->
<!--                v-if="getVerificationCode">{{getVerificationCodeCountdown}}</span>-->
<!--        </div>-->
<!--        <div class="unit-input-interval txt-red" v-if="picked==='bindMobile'">-->
<!--          <span v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>-->
<!--        </div>-->


<!--        &lt;!&ndash;确定&ndash;&gt;-->
<!--        <div class="unit-input-container container-button">-->
<!--          <button class="set-button btn_blue" v-if="!sending"-->
<!--                  @click="click_send"-->
<!--          >-->
<!--            {{$t("signPageResetPassword.confirm")}}-->
<!--          </button>-->
<!--          <button class="set-button btn_grey" v-if="sending" disabled>{{$t('coinBaby.Locking')}}</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- 谷歌/短信验证 end -->

    <!--socket超时 弹框提示 begin-->
<!--    <BasePopupWindow :open="refreshPageFlag" :close="refreshPageFunc">-->
<!--      <div slot="header" class="time-out-header">-->
<!--        提示信息-->
<!--      </div>-->
<!--      <div slot="article" class="time-out-article">-->
<!--        <div class="time-out-row flex">-->
<!--          网络异常，请稍后重试-->
<!--        </div>-->
<!--      </div>-->
<!--      <div slot="footer" class="time-out-footer">-->
<!--        <div class="unit-input-container container-button">-->
<!--          <button class="set-button btn_blue btn_blue_box_shadow" style="cursor: pointer" @click="refreshPageFunc">-->
<!--            知道了-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </BasePopupWindow>-->
    <!--socket超时 弹窗提示 end-->


    <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>




  </div>

</div>
