.order_conduct{
  margin-bottom: 20px;
}
.border_bottom{
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
.order_conduct_tbody{
  position: relative;
  min-height: 150px;
}
.order_conduct_title, .order_conduct_content{
  line-height: 69px;
}
.order_conduct_content:hover{
  background: #F7F8FA;
}
.order_conduct_title > div{
  /* color: #888888; */
  /*opacity: 0.4;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #6B7DA2;
  letter-spacing: 0;
}
.order_conduct_content > div{
  /* color: #333333; */
  cursor: pointer;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: rgba(0,0,0,0.70);
  letter-spacing: 0;
  /* line-height: 20px; */
}
.numbers{
  width: 25%;
  /* padding-left: 3%; */
}
.type{
  width: 15%;
}
.price{
  width: 15%;
}
.order_conduct_content > div>.buy{
  display: inline;
  color: #6FBF48;
}
.order_conduct_content > div>.sell{
  color: #EC6555;
  display: inline;
}
.order_conduct_content > div.buy{
  color: #02987D;
}
.order_conduct_content > div.sell{
  color: #C43E4E;
}
.amount{
  width: 20%;
}
.money{
  width: 20%;
}
.status{
  width: 20%;
}
.create_time{
  width: 20%;
  text-align: right;
}
.cannel_time{
  width: 20%;
  text-align: right;
}
.cannel_time_btn{
  border: 0;
  padding: 5px 10px;
  background: #C43E4E;
  color: #fff;
  outline: 0;
  cursor: pointer;
}
