/*radio*/
.radio_box {
  display: inline-block;
  width: auto;
}

.radio_label {
  cursor: pointer;
}

.check_radio {
  display: block;
  width: 15px;
  height: 15px;
  background: url('./assets/noselect.png') center center no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.check_radio.selected {
  background: url('./assets/select.png') center center no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
