body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body {
  -webkit-overflow-scrolling: touch;
}

div {
  box-sizing: border-box;
}

body, button, input, select, textarea {
  font: 16px/1.5 'Arial', "Microsoft YaHei", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: "Microsoft YaHei", "Microsoft Sans Serif", couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  /*overflow-x: hidden;*/
}

.btn {
  outline: none;
  cursor: pointer;
}

.min-width {
  /*min-width: 1280px;*/
  min-width: 1200px;
}

.max-width {
  max-width: 1200px;
}

.min-height {
  min-height: 600px;
}

.min-height-all {
  min-height: 100%;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
}

.flex-row {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: row;
}

.flex-colum {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  /*margin-top: 150px;*/
}

.flex-between {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-around {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.strong {
  font-weight: bold;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.clear {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.floatRight {
  float: right
}

.floatLeft {
  float: left
}

.vertical-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.light-border {
  outline: 1px solid #e5e5e5;
  /*outline: 1px solid #888;*/
}

.txt_80 {
  color: rgba(255, 255, 255, 0.8);
}

.txt_40 {
  color: rgba(255, 255, 255, 0.4);
}

.m-txt-green {
  color: #02987d;
}

.txt-green {
  color: #25ceda !important;
}

.txt-green2 {
  /*color: #52c23c;*/
  color: #02987d
}

.txt-greena2 {
  color: rgba(82, 194, 60, .5)

}

.m-txt-red {
  color: #EF5656;
}

.txt-red {
  /*color: #ff5a4e;*/
  color: #EF5656
}

.txt-reda {
  /*color: #ff5a4e;*/
  color: rgba(255, 90, 78, .5)
}

.txt-small {
  font-size: 1.2rem;
}

.txt-nomal {
  font-size: 1.4rem;
}

.txt-big {
  font-size: 1.6rem;
}

.txt-big font {
  color: #555;
  font-size: 1.3rem;
}

.txt-dark {
  color: #333;
}

.txt-white {
  color: #fff;
}

.txt-light {
  color: #666;
}

.txt-through {
  text-decoration: line-through;
}

.wrong-msg {
  color: #EF5656 !important;
}

.wrong-border {
  border: 1px solid #EF5656 !important;
}

.pointer {
  cursor: pointer !important;
}

.button-hover {
}

.button-hover:hover {
  background-color: #14b2bd !important;
}

.button-base {
  width: 120px;
  height: 35px;
  /*background-color: #21c8d4;*/
  color: #fff;
  border-radius: 6px;
  border: 0 solid transparent;
}

.btn_base {
  width: 120px;
  height: 35px;
  /*background-color: #21c8d4;*/
  color: #fff;
  border-radius: 6px;
  border: 0 solid transparent;
}

.button-grey {
  background-color: #ccc !important;
}

/*添加*/
input {
  outline: none
}

/* 新规范样式 字体颜色、btn背景色、border颜色、input的border颜色 */

/* ===============字体颜色================ */
/* 绿色字体 */
.text_green {
  color: #02987d !important;
}

/* 红色字体 */
.text_red {
  color: #EF5656 !important;
}

/* 蓝色字体 */
.text_blue {
  opacity: 0.6 !important;
  font-family: PingFangSC-Medium !important;
  font-size: 14px !important;
  color: #000000 !important;
  letter-spacing: 0 !important;
}

/* 白色字体 */
.text_white {
  font-family: PingFangSC-Medium !important;
  font-size: 16px !important;
  color: #F7F7FB !important;
  text-align: center !important;
  /* color: white !important; */
}

/* 深色字体 */
.text_dark {
  color: #172A4D !important;
}

/* 浅深色字体 */
.text_light_dark {
  color: #172A4D !important;
}

/* 浅色字体 */
.text_light {
  color: #999999 !important;
}

/* #888灰色字体 */
.text_grey_8 {
  color: #6B7DA2 !important;
}

/* ===============按钮颜色================ */
/* 红色按钮 */
.btn_red {
  background-color: #EF5656 !important;
  border-radius: 6px;
}

.btn_red_no_hover {
  background-color: #EF5656 !important;
  border-radius: 6px;
}

.btn_red:hover {
  background-color: #ed2b35 !important;
}

.btn_red_box_shadow {
  box-shadow: 0 2px 10px 2px rgba(166, 110, 0, 0.2);
}

/* 蓝色按钮 */
.btn_blue {
  background-color: #C43E4E !important;
  border-radius: 3px;
}

.btn_blue_no_hover {
  background-color: #C43E4E !important;
  border-radius: 6px;
}

.btn_blue:hover {
  background-color: #C43E4E !important;
}

.btn_blue_box_shadow {
  /*box-shadow: 3px 3px 6px #8ddef2;*/
  box-shadow: 0 2px 10px 2px rgba(0, 127, 159, 0.2);
}

/* 绿色按钮 */
.btn_green {
  background-color: #02987d !important;
  border-radius: 6px;

}

.btn_green_no_hover {
  background-color: #02987d !important;
  border-radius: 6px;
}

.btn_green:hover {
  background-color: #35AC97 !important;
}

.btn_green_box_shadow {
  box-shadow: 0 2px 10px 2px rgba(25, 119, 0, 0.2);
}

/* 灰色按钮 */
.btn_grey {
  background-color: #ccc !important;
}

/*按钮黑色投影*/
.btn_black_box_shadow {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn_white_red {
  box-sizing: border-box;
  background-color: #fff !important;
  border: 1px solid #EF5656 !important;
  border-radius: 6px;
}

.btn_white_green {
  box-sizing: border-box;
  background-color: #fff !important;
  border: 1px solid #02987d !important;
  border-radius: 6px;
  margin-left: 42px;
  margin-right: 96px;
}

.btn_white_blue {
  box-sizing: border-box;
  background-color: #fff !important;
  border: 1px solid  #fff !important;
  border-radius: 6px;
}
/*
.btn_white_blue {
  box-sizing: border-box;
  background-color: #fff !important;
  border: 1px solid #C43E4E !important;
  border-radius: 6px;
} */

/* 黄色按钮 */
.btn_yellow{
  background-color: #C43E4E !important;
  border-radius: 3px;
}

.btn_yellow_red {
  box-sizing: border-box;
  background-color: #fff !important;
  border: 1px solid #C43E4E !important;
  border-radius: 6px;
}
.text_yellow {
  color: #C43E4E !important;
}
/* ===============交易大厅深度图================ */
/* 深度图红色 */
.depth_red {
  color: #ffc6c9 !important;
}

/* 深度图蓝色 */
.depth_blue {
  color: #84cc70 !important;
}

/* ===============其他================ */
/* 模块描边 */
.module_shadow {
  box-shadow: 2px 2px 2px -1px #e5e5e5 !important;
}

/* 操作输入框 */
.input_border {
  border: 1px solid #C5CFD5 !important;
}

/* 表单描边 */
.form_border {
  border: 1px solid #e5e5e5 !important;
}

.form_border:focus {
  border-color: #ecfbfc !important;
}

/*圆角*/
.border_radius {
  border-radius: 3px !important;
}

/*卡片式投影*/
.box_shadow {
  box-shadow: 0 3px 10px 3px rgba(118, 125, 127, 0.10) !important;
}

/*tab背景色*/
.index-background-color {
  background-color: #131218;
}

.IndexHome {
  height: 100%;
  width: 100%;
}

.Index_container {
  width: 100%;
  min-height: 100%;
  min-height: 100%;
  /* padding-bottom: 250px; */
  /* background-color: #e9eaec; */
}

.btn_border_blue {
  border: 1px solid #C43E4E;
}

.btn_txt_color_white {
  color: #fff;
}

.input_padding {
  padding-left: 10px;
}

.btn_simple {
  border: 1px solid #C43E4E !important;
  color: #C43E4E !important;
  background-color: transparent !important;
}

.btn_simple:hover {
  border: 1px solid #C43E4E !important;
  color: #fff !important;
  background-color: #C43E4E !important;
}

/*超时刷新 弹框提示 begin*/
.time-out-header {
  width: 400px;
}

.time-out-article {
  /*padding: 20px;*/
  margin-top: 20px;
}

.time-out-row {
  justify-content: center;
}

.time-out-footer {
  padding: 20px;
}
/*超时刷新 弹框提示 end*/
/*----------------------------------------------------------------------------------------------------*/

/*H5全局样式调整*/

@media screen and (max-width: 768px) {
  /*超时刷新 弹框提示 begin*/
  .time-out-header {
    width: 300px;
  }
  /*html {*/
    /*background: #000;*/
    /*color: #fff;*/
  /*}*/

  /*body, button, input, select, textarea {*/
    /*!*font: 12px/1.5 'Helvetica', 'Arial', "Microsoft YaHei", sans-serif;*!*/
    /*font-weight: normal;*/
    /*!*font: 12px/1.5 'Arial', "Microsoft YaHei", sans-serif;*!*/
  /*}*/

  /*!*卡片式投影*!*/
  /*.box_shadow {*/
    /*box-shadow: none !important;*/
  /*}*/

  /*.min-width {*/
    /*min-width: 100%;*/
  /*}*/

  /*.min-height {*/
    /*min-height: auto;*/
  /*}*/

  /*.btn_simple {*/
    /*border: none !important;*/
    /*border-right: 1px solid #e2e2e2 !important;*/
    /*color: #000 !important;*/
  /*}*/
}

