<div class="mobile-checkbox" @click="changeAgreement">
  <img v-if="!agreement && bgColor==='dark'" class="mobile-checkbox-img mobile-checkbox-nochoice"
       src="../../assets/c2c_common/noselect.png" alt="">
  <img v-if="!agreement && bgColor==='light'" class="mobile-checkbox-img mobile-checkbox-nochoice"
       src="../../assets/c2c_common/noselect.png" alt="">
  <img v-if="agreement" class="mobile-checkbox-img mobile-checkbox-choiced"
       src="../../assets/c2c_common/select.png" alt="">
</div>
