<!--页脚-->
<div class="index-footer min-width index-background-color">
<div class="footer-detail-container min-width">
  <div class="footer_aboutus">
    <div class="footer11">
      <div class="footerlogo"><img src="../../assets/c2c_footer/footer-logo-欧联.png" ></div>
      <div class="footerlogo footerlo"><span>联系我们：info@815ex.com</span></div>
<!--      <div class="footerlogo2">-->
<!--        <img src="../../assets/c2c_footer/footimg1.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg2.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg3.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg4.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg5.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg6.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg7.png" >-->
<!--        <img src="../../assets/c2c_footer/footimg8.png" >-->
<!--      </div>-->
    </div>
    <div class="footer12">
      <div class="footer1211">
        <div class="footer11font">
          <ul>
            <li class="lititle"><span class="guanywm">关于我们</span></a></li>
            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360035121071-%E5%85%B3%E4%BA%8E%E4%B8%AD%E7%A7%8B%E4%BA%A4%E6%98%93%E6%89%80
">关于815ex</a></li>
            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/sections/360007044431-公告中心">公告</a></li>
          </ul>
        </div>
      </div>
      <div class="footer1211">
        <div class="footer11font">
          <ul>
            <li  class="lititle"><span class="guanywm">条款说明</span></li>
            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360034747112-TERMS-AND-CONDITIONS">服务协议</a></li>
            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360035121691-PRIVACY-POLICY">隐私协议</a></li>
            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360034747272-%E8%B4%B9%E7%8E%87%E6%A0%87%E5%87%86
">费率标准</a></li>
          </ul>
        </div>
        </div>
      <div class="footer1211">
      <div class="footer11font wechat">
        <img src="./assets/客服二维码_web 2.png" alt="">
        <p>客服微信</p>
      </div>
        </div>
      </div>


<!--      <div class="footer1211">-->
<!--        <div class="footer11font">-->
<!--          <ul>-->
<!--            <li  class="lititle"><span class="guanywm">条款说明</span></li>-->
<!--            <li class="liinfo">使用条款</li>-->
<!--            <li class="liinfo">隐私政策</li>-->
<!--            <li class="liinfo">风险</li>-->
<!--            <li class="liinfo">费用</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="footer1211">-->
<!--        <div class="footer11font">-->
<!--          <ul>-->
<!--            <li  class="lititle"><span class="guanywm">注册账号</span></li>-->
<!--            <li class="liinfo">如何注册</li>-->
<!--            <li class="liinfo">常见问题</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  </div>
</div>

