.paymentSet {
  border: 1px solid #EFF0FF;
  width: 100%;
  min-height: auto;
  border-radius: 1px;
}

.paymentSe {
  border: 1px solid #EFF0FF;
  width: 100%;
  min-height: 364px;
  border-radius: 1px;
}

/*title begin*/
.title {
  background: #F5F6FA;
  height: 44px;
  font-size: 14px;
  line-height: 44px;
  padding-left: 25px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  border-bottom: 1px solid #EFF0FF;
  /*margin-top: 16px;*/
}

.title-describe {
  line-height: 46px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-left: 15px;
}

/*.title-block {*/
/*  display: block;*/
/*  width: 4px;*/
/*  height: 16px;*/
/*  background: #C43E4E;*/
/*  margin-right: 7px;*/
/*}*/

/*title end*/

/*base begin*/
.shadow {
  box-shadow: 0 3px 15px 3px #cde8fa;
}

.white-shadow {
  /*box-shadow: 0 3px 15px 3px rgba(229, 229, 229, 0.85);*/
  border: 1px solid rgba(229, 229, 229, 0.5);
}

/*base end*/

/*支付宝 begin*/
/*  支付宝标题 begin*/
.payment-title-container {
  align-items: flex-end;
}

.aLiPay-title-container {
  margin-top: 25px;
  height: 22px;
}

.payment-title {
  color: #172A4D;
  font-size: 16px;
  line-height: 16px;
  margin-right: 22px;
}

.aLiPay-container .toggle-container {
  width: 44px;
  height: 22px;
  align-self: center;
  margin-right: 44px;
}

.release-txt {
  color: #3576F5;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.release-txt-grey {
  color: #A2B5D9;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.change-txt {
  color:#3576F5;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  /*padding-right: 20px;*/
}

.aLiPay-release {
  margin-right: 21px;
}

/*  支付宝标题 end*/

/*  支付宝内容 begin*/
.aLiPay-content-container {
  margin-top: 22px;
}

/*    已经绑定的账号内容 begin*/
.aLiPay-content {
  width: 230px;
  height: 112px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#45c2fc), to(#58aeff));
  padding: 15px;
  white-space: nowrap;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  position: relative;
}

.aLiPay-receipt-code {
  align-items: center;
}

.aLiPay-receipt-code-img {
  display: block;
  width: 17px;
  height: 16px;
  background-image: url("./assets/pay-code.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 9px;
}

.aLiPay-receipt-code-detail-container {
  position: absolute;
  top: 0;
  right: -127px;
  display: none;
}

.aLiPay-receipt-code-img:hover .aLiPay-receipt-code-detail-container {
  display: block;
}

.aLiPay-receipt-code-detail {
  width: 111px;
  z-index: 200;
  position: relative;
}

.aLiPay-receipt-code-detail-arrow {
  display: block;
  position: absolute;
  background-image: url("./assets/pay-code-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 36px;
  top: 50%;
  left: -15px;
  z-index: 100;
}

/*    已经绑定的账号内容 end*/

/*    没绑定的支付宝 begin*/
.empty-aLiPay-content {
  width: 230px;
  height: 112px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.aLiPay-please-add-img {
  display: block;
  background: url("./assets/add-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.aLiPay-please-add {
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}

/*    没绑定的支付宝 end*/

/*  支付宝内容 end*/

/*支付宝 end*/

/*银行列表 begin*/
.bank-container {

}

.bank-container-title-container {
  margin-top: 40px;
}

/*  银行内容 begin*/
.bank-content-container {
  /*margin-top: 30px;*/
}

.bank-content-row {
  /*position: relative;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*margin-bottom: 36px;*/
}

/*    银行卡 begin*/
.bank-item-container {
  color: #0D0E23;
  /*width: 316px;*/
}

.bank-label {
  /*width: 93%;*/
  height: 80px;
  line-height: 80px;
  /*display: block;*/
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1px;
  color: #0D0E23;
}

.bank-label-title {
  /*padding: 27px 0 0 20px;*/
  /*align-items: center;*/
}

.bank-logo-icon-container {
  /*width: 98px;*/
  /*margin-right: 25px;*/
  line-height: 80px;
}

.bank-label-name-container {
  color: #0D0E23;
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  line-height: 80px;
  /*height: 28px;*/
}

.bank-label-ch-name {
  /*font-size: 20px;*/
  /*line-height: 14px;*/
  /*margin-bottom: 10px;*/
}

.bank-label-en-name {
  font-size: 12px;
  line-height: 10px;
}

.bank-label-card-number {
  /*font-size: 18px;*/
  color: #0D0E23;
  /* text-align: center; */
  /*margin-top: 34px;*/
  /*margin-left: 20px;*/
  white-space: nowrap;
  letter-spacing: 2px;
}

.bank-card-show {
  width: 84px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border: 1px solid #EFF0FF;
  box-sizing: border-box;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
  text-align: center;
  margin-left: 25px;
  margin-top: 29px;
  margin: 29px 25px 0;
  /*margin: 29px auto;*/
}

/*.bank-logo-icon {*/
/*  vertical-align: middle;*/
/*  display: inline-block;*/
/*  margin-left: 25px;*/
/*  width: 24px;*/
/*}*/

.bank-info {
  flex: 1;
  border-bottom: 1px solid #EFF0FF;
  font-size: 14px;
  justify-content: space-between;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  padding-right: 22px;
}

.bank-card-name {
  width: 100px;
  margin-right: 60px;
}

.bank-label-blue {
  background-image: url("./assets/bank-label-blue.png");
  /*box-shadow: 0 3px 15px 3px #c0e0ed;*/
}

.bank-label-yellow {
  background-image: url("./assets/bank-label-yellow.png");
  /*box-shadow: 0 3px 15px 3px #ffd3bd;*/
}

.bank-label-green {
  background-image: url("./assets/bank-label-green.png");
  /*box-shadow: 0 3px 15px 3px #b8e3dd;*/
}

/*      银行卡操作 begin*/
.bank-operation-container {
  justify-content: center;
  align-items: center;
  color: #3576F5;
  /*margin-left: 491px;*/
  /*margin-top: 23px;*/
  /*padding: 0 2px;*/
}

.chose-default-bank-card {
  align-items: center;
}

.chose-default-bank-card-radio {
  margin-right: 11px;
}

.bank-change-txt {
  margin-right: 24px;
}

.bank-release-txt {
  margin-right: 30px;
}

/*      银行卡操作 end*/
/*    银行卡 end*/

/*    添加银行卡 begin*/

.add-new-bank-card-item {
  width: 100%;
  position: relative;
  height: 80px;
  line-height: 80px;
  width: 100%;
  font-size: 14px;
  color: #3576F5;
  /*border-bottom: 1px solid #EFF0FF;*/
  box-sizing: border-box;
}

.add-new-bank-card-label {
  position: absolute;
  right: 23px;
}

.add-new-bank-card-label-no {
  margin: 96px auto;
  /*text-align: center;*/
  /*text-align: center;*/
  /*justify-content: center;*/
  /*background: white;*/
}

.no-bank-list {
  text-align: center;

}

.no-bank-list img {
  width:86px;
  margin-bottom: 24px;
}

.no-bank-list p {
  color: #6B7DA2;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-bottom: 31px;
}




.add-new-bank-card-img {
  display: block;
  width: 14px;
  height: 14px;
  background: url("./assets/bind_bank_card.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto 0;
  margin-right: 10px;
  /* width: 77px;
  height: 77px; */
  /*line-height: 80px;*/
  /*margin-bottom: 10px;*/
}

/*.add-new-bank-card-img-no-list {*/
/*  display: block;*/
/*  width: 14px;*/
/*  height: 14px;*/
/*  background: url("");*/
/*  background-repeat: no-repeat;*/
/*  background-size: contain;*/
/*  margin-right: 10px;*/
/*  vertical-align: middle;*/
/*  !* width: 77px;*/
/*  height: 77px; *!*/
/*  !*line-height: 80px;*!*/
/*  !*margin-bottom: 10px;*!*/
/*}*/

.add-bank-card-no {
  justify-content: center;
  width: 124px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #E7EBEE;
  margin: 0 auto;
}

.add-bank-card-no img {
  width: 13px;
  height: 13px;
  margin: auto 0;
  margin-right: 4px;
}

.add-new-bank-card-no-list {
  color: #3576F5;
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}

.add-new-bank-card {
  /*position: relative;*/

}

/*    添加银行卡 end*/

/*  银行列表 end*/
/*银行列表 end*/

/*绑定支付宝弹窗 begin*/
.bind-ALiPay-header {
  width: 722px;
}

.bind-ALiPay-article {
  /*align-items: center;*/
  /*justify-items: center;*/
  flex-direction: column;
}

.input-item-container {
  justify-items: center;
  align-items: center;
  height: 87px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.input-item-container:first-child {
  margin-top: 0;
}

.input-item-title {
  /*width: 210px;*/
  /*text-align: right;*/
  font-size: 14px;
  color: #6B7DA2;
  margin-bottom: 10px;
  height: 20px;
  /*padding-right: 20px;*/
  white-space: nowrap;
}

.popwindow-header {
  justify-content: space-between;
}

.ga_sms_body_close{
  /*position: absolute;*/
  /*right: 25px;*/
  /*!*top: -15px;*!*/
  /*width: 20px;*/
  /*cursor: pointer;*/
  /*height: 20px;*/
  /*color: #ccc;*/
  /*font-size: 20px;*/
}

.zi{
  letter-spacing: 4px;
}

.input-item-input-container {
  width: 410px;
  /*color: #3576F5;*/
  box-sizing: border-box;
}

.input-item-input-container >>> .vs__actions {
  height: 40px;
}

.input-item-input-container >>> .dropdown-toggle {
  border-radius: 1px;
  padding-left: 15px;
  width: 410px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #E0E1F4;
  padding-bottom: 0;
  box-sizing: border-box;
}

.input-item-input-container >>> .dropdown-toggle .vs__selected-options {
  height: 40px;
  padding: 0;
  margin: 0;
}

.input-item-input-container >>> .dropdown-toggle .vs__selected-options .form-control {
  padding: 0;
  margin: 0;
}

/*下拉框 placeholder颜色   begin*/
.input-item-input-container >>> .dropdown-toggle .vs__selected-options .form-control::-webkit-input-placeholder {
  color: #0D0E23;
  font-size: 12px;
}

.input-item-input-container >>> .dropdown-toggle .vs__selected-options .form-control::-moz-placeholder {
  color: #0D0E23;
  font-size: 12px;
}

.input-item-input-container >>> .dropdown-toggle .vs__selected-options .form-control:-moz-placeholder {
  color: #0D0E23;
  font-size: 12px;
}

.input-item-input-container >>> .dropdown-toggle .vs__selected-options .form-control:-ms-input-placeholder {
  color: #0D0E23;
  font-size: 12px;
}
/*下拉框 placeholder颜色   end*/

.input-item-input-container >>> .dropdown-toggle .selected-tag {
  padding: 0;
  margin: 0;
}

.input-item-container-wrong {
  height: 20px;
}

.wrong-msg-container {
  color: #FD5555;
  /*padding-left: 10px;*/
  font-size: 12px;
  line-height: 20px;
  /*margin-bottom: -15px;*/
  /*margin-top: 0;*/
}

.wrong-msg-border {
  border-color: #FD5555 !important;
}

.input-item-input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*font-weight: bold;*/
  box-sizing: border-box;
}



/*  点击上传支付宝收款码 begin*/
.input-item-container-aLiPay-code {
  align-items: flex-start;
}

.input-item-container-aLiPay-code .input-item-input-container {
  align-items: flex-end;
  justify-content: space-between;
}

.input-item-container-aLiPay-code .input-item-title {
  padding-top: 10px;
}

.input-aLiPay-code {
  width: 120px;
  height: 124px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.input-aLiPay-code-icon {
  display: block;
  background: url("./assets/add-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.input-aLiPay-echo-img {
  display: block;
  width: 100%;
  height: 100%;
}

.input-aLiPay-code-prompt {
  color: #888;
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
}

.input-aLiPay-prompt {
  width: 225px;
}

.display-none {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

/*  点击上传支付宝收款码 end*/

/*  备注信息 begin*/
.input-item-container-remarks {
  align-items: flex-start;
}

.input-item-container-remarks .input-item-title {
  padding-top: 10px;
}

.input-item-remarks {
  resize: none;
  width: 274px;
  height: 111px;
  outline:none;
}

.input-item-remarks-number {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #989898;
  font-size: 12px;
  letter-spacing: 1px;
}

/*  备注信息 end*/

/*  弹窗按钮 begin*/
.bind-ALiPay-footer {
  justify-content: center;
  align-items: center;
  padding: 27px 0 33px 0;
}

.aLiPay-btn {
  width: 195px;
  height: 40px;
  outline: none;
  box-sizing: border-box;
  background: #3576F5;
}

.aLiPay-btn:hover {
  background: -webkit-gradient(linear,right top, left top,from(rgba(53,118,245,1)),to(rgba(69,154,245,1)));
  /*background: linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);*/
}

.aLiPay-btn:first-of-type {
  margin-right: 28px;
}

.aLiPay-commit-btn {
  border: 0;
}

/*  弹窗按钮 end*/

.input-item-input::-webkit-input-placeholder {
  color: #A2B5D9;
  font-size: 12px;
  font-weight: normal;
}

.input-item-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #A2B5D9;
  font-size: 12px;
  font-weight: normal;
}

.input-item-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #A2B5D9;
  font-size: 12px;
  font-weight: normal;
}

.input-item-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A2B5D9;
  font-size: 12px;
  font-weight: normal;
}

/*  绑定支付宝第二步 确认 begin*/
.bind-ALiPay-confirm-header {
  width: 448px;
}

.bind-ALiPay-confirm-article {
  flex-direction: column;
}

.input-item-conform-title {
  /*width: 175px;*/
  /*text-align: right;*/
  font-size: 14px;
  color: #888;
  padding-right: 20px;
  white-space: nowrap;
}

.input-item-input-confirm-container {
  font-weight: bold;
  max-width: 200px;
  align-items: center;
}

/*  点击上传支付宝收款码 begin*/
.input-item-container-confirm-aLiPay-code {
  align-items: flex-start;
}

.input-item-container-confirm-aLiPay-code .input-item-input-container {
  align-items: flex-end;
  justify-content: space-between;
}

/*  备注信息 begin*/
.input-item-container-confirm-remarks {
  align-items: flex-start;
}

/*  绑定支付宝第二步 确认 end*/

/*绑定支付宝弹窗 end*/

/*绑定银行卡弹窗 begin*/
/*  绑定银行卡弹窗标题 begin*/

.bind-bank-header {
  justify-content: space-between;
}

.bind-bank-header-wrong img {

}

/*  绑定银行卡弹窗标题 end*/
/*  绑定银行卡弹窗内容 begin*/
.bind-bank-article {
  flex-direction: column;
}

.input-item-container-default-bank-card {
  height: 20px;
  align-items: center;
  /*justify-content: center;*/
}

.input-item-default-bank-card-radio-container {
  /*font-size:12px !important;*/
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  align-items: center;
}

.input-item-default-bank-card-radio {
  vertical-align: middle;
  margin-right: 6px;
}

/*  绑定银行卡弹窗内容 end*/
/*  绑定银行卡弹窗footer begin*/
.bind-bank-footer {
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

/*  绑定银行卡弹窗footer end*/
/*  确认绑定银行卡弹窗 begin*/
.bind-bank-confirm-header {
  /*width: 500px;*/
  justify-content: space-between;
}

.bind-bank-close img {
  vertical-align: middle;
}

.bind-bank-confirm-article {
  flex-direction: column;
  padding: 0;
}

.input-item-container-two {
  justify-content: space-between;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  border-bottom: 1px solid #F5F6FA;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.input-item-container-two:last-child {
  border-bottom: 0;
}

.input-item-input-confirm-container-two {
  color: #0D0E23;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}

.img-item-input-confirm-container img {
  width: 16px;
}

/*  确认绑定银行卡弹窗 end*/

/*绑定银行卡弹窗 end*/

/*删除支付宝账号弹窗 begin*/
.delete-header {
  justify-content: space-between;
}
.detele-bank-info {
  color: #6B7DA2;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}

.delete-row {
  margin-top: 27px;
  /*margin-top: 18px;*/
  /*font-size: 14px;*/
  /*line-height: 14px;*/
  /*width: 364px;*/
}

.delete-bank-row {
  justify-content: space-between;
  /*width: 442px;*/
}

.delete-title {
  /*width: 170px;*/
  /*text-align: right;*/
  /*color: #888;*/
}

.delete-bank-title {
  /*width: 117px;*/
}

.delete-detail {
  color: #171A23;
  /*padding-left: 5px;*/
}

.delete-footer {
  justify-content: center;
  padding: 30px 0 15px;
}

/*删除支付宝账号弹窗 end*/

/*二次验证 begin*/
.verify-article {
  /*width: 400px;*/
  /*padding: 0 30px;*/
}

.verify-footer {
  padding: 15px 25px;
}

.verify-row {
  font-size: 12px;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  /*padding: 20px 0;*/
  margin-top: 10px;
}

/*Input板块*/

.ga-code-title {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.unit-input-container {
  /*width: 87.5%;*/
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  /*margin-left: 34px;*/
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 ;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.input-ga {
}

.get-ga-code {

  color: #3576F5;
}

.unit-input-interval {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  /*width: 80%;*/
  text-align: left;
  /*padding-left: 12%;*/
}

.double-input-container {
  justify-content: space-between;
  padding: 0 15px;
  /*box-sizing: border-box;*/
}

.identifying-code-button {
  /*margin-right: -1px;*/
  color: #3576F5;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.unit-input {
  font-size: 12px;
}

/*placeholder  begin*/
.unit-input::placeholder {
  color: #A2B5D9;
}

.unit-input::-moz-placeholder {
  color: #A2B5D9;
}

.unit-input::-webkit-input-placeholder {
  color: #A2B5D9;
}

.unit-input:-ms-input-placeholder {
  color: #A2B5D9;
}
/*placeholder样式 end*/

/*获取手机验证码*/

.phone-title {
  font-size: 12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.double-input-container > span:nth-of-type(2) {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  background-color: #25ced9;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  cursor: pointer;
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 69%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*确定按钮*/
.container-button {
  border: 0;
}

.set-button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  background-color: #25ced6;
  color: #ffffff;
  border-radius: 1px;
  letter-spacing: 4px;
  border: 0;
}

.wrong-msg {
  border: 1px solid #FD5555;
}

.pick-one-type {
  border: 0;
  /*justify-content: space-around;*/
  /*-webkit-justify-content: space-around;*/
  /*align-items: center;*/
  /*-webkit-align-items: center;*/
}

.identify-margin {
  margin-right: 20px;
}

.unit-title {
  padding-top: 0;
}

/*验证码发送中*/
.identifying-code-button-close {
  color: #a2b5d9;
  /*background-color: #cccccc !important;*/
}

/*二次验证 end*/

/*未绑定 弹框提示 begin*/
.auth-state-header {
  width: 400px;
}

.auth-state-article {
  /*padding: 20px;*/
  margin-top: 20px;
}

.auth-state-row {
  justify-content: center;
}

.auth-state-footer {
  padding: 20px;
}

/*未绑定 弹框提示 end*/
@media screen and (max-width: 768px) {
  .bind-bank-header{
    width: auto;
  }
  .input-item-remarks{
    resize: none;
    height: 124px;
    width: auto;

  }
  .input-item-conform-title {
    width: 95px;
    text-align: right;
    font-size: 14px;
    color: #888;
    padding-right: 20px;
    white-space: nowrap;
  }
  .bind-bank-confirm-header{
    width: auto;
  }
  .delete-bank-title{
    width: 50px;
  }
  .verify-article {
    width: auto;
    padding: 0px;
  }
  .auth-state-header {
    width: auto;
  }
}
