<div class="Transaction">



  <!--顶部选择买卖-->
  <div class="transaction-header flex-center flex-between">
<!--    <Loading v-if="loading" />-->
    <div v-if="" class="transaction-header-left flex">
      <div class="transaction-header-left-buy">
        <!--<div class="transaction-header-left-title" :class="buyOrSell === 'BUY'?'selected text_green':''">-->
          <!--&lt;!&ndash;<div class="transaction-header-left-title-bar"></div>&ndash;&gt;-->
          <!--<div class="transaction-header-left-title-text">买入</div>-->
        <!--</div>-->
        <div class="transaction-header-left-list">
          <router-link class="transaction-header-left-item" :to="{name: 'TransactionBuy'}" active-class="selected">
            购买USDT
            <div class="transaction-header-left-item-bottom"></div>
          </router-link>

        </div>
      </div>
      <div class="transaction-header-left-cutter"></div>
      <div class="transaction-header-left-sell">
        <!--<div class="transaction-header-left-title" :class="buyOrSell === 'SELL'?'selected text_red':''">-->
          <!--&lt;!&ndash;<div class="transaction-header-left-title-bar"></div>&ndash;&gt;-->
          <!--<div class="transaction-header-left-title-text">卖出</div>-->
        <!--</div>-->
        <div class="transaction-header-left-list">
          <router-link class="transaction-header-left-item" :to="{name: 'TransactionSell'}" active-class="selected">
            出售USDT
            <div class="transaction-header-left-item-bottom"></div>
          </router-link>
        </div>
      </div>


      <div class="transaction-header-right-img-box">
        <div class="transaction-header-right-currency">
          <img class="transactionicon" src="../../assets/OTransaction_icon.png" alt="">
          法币设置
        </div>
        <div class="transaction-header-right-currency">
          <img class="transactionicon" src="../../assets/OMerchant_icon.png" alt="">
          发布广告
        </div>
        <div class="transaction-header-right-currency">
          <img class="transactionicon" src="../../assets/OOrder_icon.png" alt="">
          订单
        </div>
<!--        <div class="transaction-header-right-amount-box flex-center">-->
<!--          <div class="transaction-header-right-amount-title">余额：</div>-->
<!--          <div class="transaction-header-right-amount-num strong">{{isLogin? account :'-&#45;&#45;'}}</div>-->
<!--          <div class="transaction-header-right-amount-unit">USDT</div>-->
<!--        </div>-->
<!--        <div class="transaction-header-right-btn " @click="goToRecharge()">充值</div>-->
      </div>
    </div>
<!--    <div v-if="" class="transaction-header-right flex-center">-->
<!--      <div class="transaction-header-right-img-box">-->
<!--        <img class="transaction-header-right-img" src="../../assets/c2c_transaction/USDT.png" alt="">-->
<!--      </div>-->
<!--      <div class="transaction-header-right-currency strong">USDT</div>-->
<!--      <div class="transaction-header-right-amount-box flex-center">-->
<!--        <div class="transaction-header-right-amount-title">余额：</div>-->
<!--        <div class="transaction-header-right-amount-num strong">{{isLogin? account :'-&#45;&#45;'}}</div>-->
<!--        <div class="transaction-header-right-amount-unit">USDT</div>-->
<!--      </div>-->
<!--      <div class="transaction-header-right-btn " @click="goToRecharge()">充值</div>-->
<!--    </div>-->



  </div>
  <!--买卖路由页-->
  <div class="Transactions max-width">
    <div class="router-view-box">
    <router-view/>
  </div>
  <!--底部info说明内容-->
    <div class="transaction-info">
    <div class="transaction-info-title flex-between">
      <div class="transaction-info-title-left flex">
        <div class="transaction-info-title-text flex-center flex-between strong text_dark">
          交易声明
        </div>
      </div>
<!--      <a class="transaction-info-title-text-right text_blue" href="https://www.btcdo.com/index/notice/noticeDetail?id=100324" target="_blank">OTC交易说明</a>-->
    </div>
    <div class="transaction-info-container ">
      1. 24小时内累计取消订单超过3笔，将禁止1天法币交易；<br/>
      2. 有1个订单未完成，暂停继续下单，完成后恢复；<br/>
      3. 下单后务必在15分钟内付款，转账后立即点击“我已付款”；<br/>
      4. 超过15分钟，如未点击“我已付款”，系统视为无效订单，会自动撤销订单；<br/>
      5. 下单买入后冒充已付款，卖方可申诉举报，一经查实将禁封交易；<br/>
      6. 17:00以后及非工作日时间，每笔请拆分5万以内进行转账，否则将延迟到账；<br/>
      7. 已取消订单，如已付款，请及时申诉，上传付款证明等资料，说明情况。
    </div>

  </div>

  <!--首次进入此页 弹框提示 begin-->
    <BasePopupWindow :showClose="false" :open="isLogin && popWindowOpenForFirst" :close="popWindowGoAheadForFirst">
    <div slot="header" class="pop-header-first">
      法币交易风险提示
    </div>
    <div slot="article" class="pop-article-first">
      <div class="pop-article-text-first text_light_dark">
<!--        <div class="pop-article-text-first-detail">1、 OTC交易是用户之间点对点交易，<font class="text_red">须买方在场外手动转账付款</font>，卖方收款后确认发币；</div>-->
        <div class="pop-article-text-first-detail">1、 法币交易是用户之间点对点交易，买方场外转账付款，卖方收款后确认发币；</div>
        <div class="pop-article-text-first-detail">2、 成交后务必在15分钟内付款，转账后立即点击“我已付款”；</div>
        <div class="pop-article-text-first-detail">3、 超过15分钟，如未点击“我已付款”，系统视为无效订单，会自动撤销订单；</div>
        <div class="pop-article-text-first-detail">4、 订单撤销后，切勿再付款；如已付款，切勿撤销订单。如果操作有误，请第一时间提交申诉，上传付款证明；</div>
        <div class="pop-article-text-first-detail">5、 法币交易存在风险，请充分了解交易规则，交易时保持电话畅通，关注邮件和短信提醒，谨防受骗！ </div>
        <!--同意协议-->
<!--        <div class="pop-article-input-container agreement text_light_dark">-->
<!--          <BaseCheckBox :agreement="popAgreement" :changeAgreement='changePopAgreement'></BaseCheckBox>-->
<!--          <input v-show="false" type="checkbox" v-model="popAgreement" name="popAgreement" id="popAgreement" @click="changePopAgreement">-->
<!--          <label for="popAgreement">我已阅读和了解市场规则与风险，进入法币交易</label>-->
<!--&lt;!&ndash;          <a class="agreement-detail text_light" href="" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;            《OTC交易用户服务协议》&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--        </div>-->
      </div>



      <div class="pop-btn-container-first flex flex-center">
        <button class="pop-btn-red-first btn_yellow" @click="popWindowCloseForFirst">
          我已阅读和了解市场规则与风险，进入法币交易
        </button>
      </div>

      <div class="pop-btn-container-second flex flex-center">
        <button class="pop-btn-red-second btn_yellow_red text_yellow" @click="popWindowGoAheadForFirst">
          暂不交易，离开
        </button>
      </div>
    </div>
  </BasePopupWindow>
  <!--首次进入此页 弹窗提示 end-->

    <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

  </div>
</div>
