<div class="index-header-assets-container">
  <Loading v-if="loading"/>
  <ul class="asset-container" :class="{'asset-alpha':black}" v-else>
    <li class="asset-li-2">
      <router-link :to="{name:'securityCenter'}">
        <!--        <p class="asset-li-title">{{$t('userName')}}</p>-->

        <div class="asset-li-title-left">
          <div class="asset-li-content">
            <p class="asset-li-title">{{userName}}</p>

<!--            <span><img class="VIP_img" src="../../assets/selectedVIP_icon.png" alt="" v-if="flag"></span>-->
<!--            <span><img class="VIP_img" src="../../assets/selected_noVIP_icon.png" alt="" v-if="!flag"></span>-->
            <div class="not-certified" v-if="authType==3">{{$t('uncertified')}}</div>
            <!--           <div class="not-certified" v-if="true">待审核</div>  TODO:新加的，切勿删除-->
            <div class="not-certified" v-if="authType==1">{{$t('beDismissed')}}</div>
            <div class="not-certified" v-if="authType==0||authType==5||authType==6">{{$t('toBeAudited')}}</div>
            <div class="certified" v-if="authType==2">{{$t('passed')}}</div>
          </div>
        </div>

        <div class="certified-img"><img src="../../assets/goto.png" alt=""></div>
      </router-link>
    </li>
    <!--    <li class="asset-li">-->
    <!--      <router-link :to="{name:'rechargeAndWithdrawals'}">-->
    <!--        <p class="asset-li-title">{{$t('total')}}:</p>-->
    <!--        <p>{{accountReady || priceReady ? toFixed(total,8) : '&#45;&#45;&#45;&#45;'}}BTC</p>-->
    <!--      </router-link>-->
    <!--    </li>-->
    <li class="asset-li">
      <router-link to="/index/personal/auth">
        <p class="pointer">{{$t('authentication')}}</p>
      </router-link>
    </li>
    <!--    <li class="asset-li">-->
    <!--      <router-link to="/index/personal/securityCenter">-->
    <!--        <p class="pointer">{{$t('safetyCente')}}</p>-->
    <!--      </router-link>-->
    <!--    </li>-->
    <li class="asset-li">
      <router-link :to="{name:'securityLog'}">
        <p class="pointer">{{$t('securityLog')}}</p>
      </router-link>
    </li>
    <li class="asset-li">
      <router-link to="/index/personal/Recommend">
        <p class="pointer">{{$t('mynvitation')}}</p>
      </router-link>
    </li>
    <!--<li class="asset-li flex-center">-->
    <!--<p>{{$t('available')}}</p>-->
    <!--<p>{{accountReady || priceReady ? available.toFixed(8) : '&#45;&#45;&#45;&#45;'}}</p>-->
    <!--</li>-->
    <!--<li class="asset-li flex-center">-->
    <!--<p>{{$t('frozen')}}</p>-->
    <!--<p>{{accountReady || priceReady ? frozen.toFixed(8) : '&#45;&#45;&#45;&#45;'}}</p>-->
    <!--</li>-->
    <li class="asset-li" @click="loginOff">
      <div class="login-off flex">
        <p class="pointer">{{$t('loginOff')}}</p>
      </div>
    </li>
  </ul>
</div>
