.index-header-assets-container {
  width: 100%;
  height: 100%;
  /*padding: 0 15px;*/
  position: relative;
}

.asset-container a {
  color: #0D0E23;
}

.asset-li:hover {
  background-color:rgba(245,246,250,1);
}

.asset-li {
  /*width: 100%;*/
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 15px ;
  /*border-bottom: 1px solid #e6e6e6;*/
  text-align: left;
}

.asset-li-2 {
  width: 100%;
  /*padding: 0  0 20px;*/
  height: 70px;
  line-height: 18px;
  font-size: 14px;
  /*border-bottom: 1px solid #e6e6e6;*/
  text-align: left;
  /*border-bottom: 1px solid #eee;*/
  /*!*padding: 7px 30px 7px 30px;*!*/
  /*padding-left: 30px;*/
  /*text-align: left;*/
  /*font-family: PingFangSC-Regular;*/
  /*font-size: 13px;*/
  /*color: #172A4D;*/
}

.asset-li-2:hover {
  background-color:rgba(245,246,250,1);
}

.asset-li:last-of-type {
  border: 0;
}

.asset-li-title-left {
  /*float: left;*/
  display: inline-block;

  padding:0 15px;
}

.asset-li-content {
  margin: auto 0;
}

.asset-li-title {
  /*color: #666;*/
  /*width: 120px;*/
  padding-right: 10px;
  /*background-color: #ccc;*/
  padding-top: 15px;
  font-size:16px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #0D0E23;
}

.not-certified {
  display: inline-block;
  width:44px;
  height:16px;
  margin-top: 7px;
  font-size: 10px;
  background:rgba(239,240,255,1);
  color: #A2B5D9;
  text-align: center;
  line-height: 16px;
  border-radius:8px;
}

.certified {
  display: inline-block;
  width:44px;
  height:16px;
  margin-top: 7px;
  font-size: 10px;
  background:rgba(239,240,255,1);
  color: #3576F5;
  text-align: center;
  line-height: 16px;
  border-radius:8px;
}

.VIP_img {
  width: 15px;
  vertical-align: text-bottom;
}
.certified-img {
  /*float: right;*/
  display: inline-block;
  padding-right: 15px;
}

.certified-img img {
  margin-bottom: 10px;
  line-height: 70px;
  width: 16px;
}

.pointer {
  /*padding-left: 15px;*/
}

.login-off {
  color: #0D0E23;
  align-items: center;
  height: 100%;
  font-size: 14px;
}

.asset-li:hover p {
  color: #3576F5;
}

.asset-li-2:hover p {
  /*color: #3576F5;*/
}

/*首页颜色变化*/
.asset-alpha a {
  color: #fff;
}

.asset-alpha .asset-li-title {
  color: #fff;
}

.asset-alpha .asset-li {
  border-bottom: 1px solid transparent;
  background-color: #141823;
  color: #fff;
}

.asset-alpha .login-off {
  color: #fff;
}

.asset-alpha .asset-li:hover {
  background-color: #1c2031;
}

.asset-li-a{
  height: 36px;
  line-height: 18px;
  font-size: 13px;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 30px 7px 30px;
  text-align: left;
}
.asset-li-a:last-of-type {
  border: 0;
}
.asset-alpha .asset-li-a {
  border-bottom: 1px solid transparent;
  background-color: #141823;
  color: #fff;
}
